<section class="nav admin-nav">
    <nav>
        <div class="toggle-close">X</div>
        <ul>
            <li><a href="#"> <i class="fa fa-home"></i>Home</a></li>
            <li><a href="">posts</a>
                <ul>


                    <li><a href="/admins/all-posts"><i class="fa fa-table"></i>All posts</a></li>
                    <li><a href="#">By categories</a></li>
                    <li><a href="/admins/posts_dashboard"><i class="fa fa-pencil"></i>Create new post </a></li>
                </ul>
            </li>
            <li><a href="/admins/charts">Charts</a></li>
            <li><a href="/"><i class="fa fa-comments"></i>Comments <span class="comments">4</span></a></li>
            <li><a href="/"><i class="fa fa-users"></i>Users</a></li>

        </ul>
    </nav>
</section>