<section class="desktop-advert">
    <div class="adverts-content">
        <div>A</div>
        <div>D</div>
        <div>V</div>
        <div>E</div>
        <div>R</div>
        <div>T</div>
        <div>S</div>

    </div>

</section>