<section class="categories">
    <div>
        <h2>Categories</h2>
    </div>
    <ul>
        <% categories.forEach(category=>{ %>
        <li class="category">
            <a href="/index/<%= category.name.toLowerCase() %>">
                <span><%= category.name %></span>
            </a>
            <span><%= category.number_of_posts %></span>

        </li>

        <% }) %>
    </ul>

</section>