<footer>
    <section class="secondary-nav-and-credit">
        <div>
            <p>

            </p>
        </div>
        <div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </div>
    </section>
    <section class="terms-conditions-and-copy-right center-text"> &copy; Digital News Pay Hub 2020. All rights Reserved.
    </section>
</footer>
</body>

</html>