<footer>
    <section class="container biz-links">
        <div><a href="/">privacy policy</a></div>
        <div><a href="/">terms and conditions</a></div>
        <div><a href="/">earner's disclaimer</a></div>
        <div><a href="/">faq</a></div>
    </section>
</footer>

</body>

</html>