<section class="weapper">
    <header>
        <div id="top-bar">
            <div id="topmost-header">
                <div id="toggle-menu">
                    <img src="images/handbuggermenu2.png" alt="menu" width=75px>
                </div>
                <div>
                    <div>
                        <a href="/">
                            <img src="images/Digitalnewpay logo-02.svg" alt="Brand logo" width="70.55px">
                        </a>
                    </div>
                    <div>
                        <a href="/">digitalnews hub</a>
                    </div>


                </div>


            </div>

            <div id="welcome">
                Welcome
            </div>
        </div>
        <nav id="primary-nav" class="nav-close">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/">how it works</a></li>
                <li>news hub
                    <ul class="hide">
                        <li><a href="">POLITICS</a></li>
                        <li><a href="">BUSINESS</a></li>
                        <li><a href="">EDUCATION</a></li>
                        <li><a href="">ENTERTAINMENT</a></li>
                        <li><a href="">SPORTS</a></li>
                    </ul>
                </li>
                <li><a href="/">Sign up</a></li>
                <li><a href="/">login</a></li>
            </ul>
        </nav>

    </header>
</section>