<header>
    <section class="social-media-section">
        <ul class="main-social-media-links-container">
            <li><a href="#"><i class="fa fa-facebook"></i><span class="desktop">Facebook</span></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i><span class="desktop">Twitter</span></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i><span class="desktop">Instagram</span></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i><span class="desktop">Linkedin</span></a></li>
        </ul>
    </section>
    <section class="logo-and-caption">
        <div>
            <h1>Digital News Pay Hub</h1>
            <h3 class="sub-caption"> Make cash while you get informed</h3>
        </div>
    </section>
    <section>
        <nav class="primary-nav">
            <ul class="desktop">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">News Hub</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Our payroll</a></li>
                <li><a href="#">Get Coupon</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="toggle-nav-main">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <section>
                <div>
                    <input type="text" placeholder="Search">
                    <i class="fa fa-search"></i>
                </div>
                <ul class="desktop">
                    <li><a>Register</a></li>
                    <li><a>Login</a></li>

                </ul>
            </section>

        </nav>
    </section>

</header>