<header class="top-banner">
    <section class="social-media-section">
        <ul class="main-social-media-links-container">
            <li><a href="#"><i class="fa fa-facebook"></i><span class="desktop">Facebook</span></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i><span class="desktop">Twitter</span></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i><span class="desktop">Instagram</span></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i><span class="desktop">Linkedin</span></a></li>
        </ul>
        <a href="/login" class="login block mobile">Login</a>
    </section>

    <section>
        <nav class="primary-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li class="sub-menu-control-desktop"><a class="sub-menu-control-desktop" href="#">

                        <span>News Hub</span>

                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="menu-categories-desktop">
                        <ul>
                            <% categories.forEach(cate=>{ %>
                            <li><a href="/index/<%= cate.name.toLowerCase() %>"><%= cate.name %></a></li>
                            <% }) %>
                        </ul>
                    </div>
                </li>
                <li><a href="#">How it works</a></li>
                <li class="hide"><a href="#">Our payroll</a></li>
                <li><a href="/voucher-vendors">Get Coupon</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="toggle-and-home">
                <div class="toggle-nav-main mobile">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <a href="/" class="block mobile-only"><i class="fa fa-home"></i></a>
            </div>
            <section class="search-and-form">
                <div>
                    <input type="text" placeholder="Search content" class="hide" name="search">
                    <i class="fa fa-search"></i>
                    <i class="fa fa-close hide"></i>
                </div>
                <ul>
                    <li><a href="/create-account">Register</a></li>
                    <li><a href="/login">Login</a></li>

                </ul>
            </section>

        </nav>
    </section>
    <a href="#" class="top">top</a>
    <%- include('mobile-navigation.ejs') %>
</header>