<header>
    <section class="header ">
        <div class="banner">
            <ul id="brand" class="container">
                <li><a href="/"><img src="../images/logo1.png" alt=""></a></li>
                <li><a href="/">Digital News Hub</a></li>

            </ul>
            <h2 id="welcome" class="container">
                Welcome
            </h2>
        </div>
    </section>
    <section class="primary-nav">
        <div class="container toggle-nav">
            <div>
                <img src="../images/toggle1.png" alt="">
            </div>

        </div>
        <nav class="container">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a class="sub-menu-control">
                        <div id="sep1"><span>News Hub</span>
                            <img src="../images/explore1.png" id="left-it" class="block"></div>
                        <div id="sub-cat1">
                            <ul>
                                <li><a href="/">politics</a></li>
                                <li><a href="/">education</a></li>
                                <li><a href="/">entertainment</a></li>
                                <li><a href="/">health</a></li>
                                <li><a href="/">sports</a></li>
                                <li><a href="/">business</a></li>
                            </ul>
                        </div>
                    </a>
                </li>
                <li><a href="/">About us</a></li>
                <li><a href="/">How it works</a></li>
                <li><a href="/">Our payroll</a></li>
                <li><a href="/">get Activation code</a></li>
                <li><a href="/">Contact</a></li>

            </ul>
            <ul class="form-nav">
                <li id="for-registry"><a href="/" id="register">Register</a></li>
                <li><a href="/login">Login</a></li>

            </ul>
        </nav>

    </section>

</header>