<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital New Hub-<%= title %></title>
    <meta property="og:title" content="This is it">
    <meta property="og:description" content="Ok it worked">
    <meta property="og:image" content="https://res.cloudinary.com/dfm1c1iri/image/upload/v1592379289/Digitalnewpay_logo-02_z2q6cr.png">
    <meta property="og:url" content="http://www.dnpayhub.com">

    <link rel="stylesheet" href="../css/style.css">
</head>

<body>