<section class="primary-nav-mobile-container mobile-only">
    <nav class="primary-nav-mobile">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a class="sub-menu-control" href="#">
                    <div id="sep1">
                        <span>News Hub</span>

                        <i class="fas fa-caret-right"></i>
                    </div>
                </a>
                <div class="hide menu-categories">
                    <ul>
                        <% categories.forEach(cate=>{ %>
                        <li><a href="/index/<%= cate.name.toLowerCase() %>"><%= cate.name %></a></li>
                        <% }) %>
                    </ul>
                </div>




            </li>
            <li><a href="/">How it works</a></li>
            <li class="hide"><a href="#">Our payroll</a></li>
            <li><a href="/voucher-vendors">Get Coupon</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul>
            <li><a href="/create-account">Register</a></li>
            <li><a href="/login">Login</a></li>
        </ul>

    </nav>
</section>