<section class="subscribe">
    <div>
        <div class="sub-statuss"></div>
        <h2 class="center-text">
            subscribe
        </h2>
        <p>Get all latest news and content delivered straight to your inbox</p>

        <form action="/news-letter" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" id="" placeholder="Email Address">
            <button type="submit" class="subscribe-btn">subscribe</button>

        </form>

    </div>


</section>