
$primary-color-1:#0f55ec;
$primary-color-2:white;
//general styling
@use './sass_files-new/general';
//general styling ends here

@use './sass_files-new/entry-animation';

@use './sass_files-new/main-nav';

@use './sass_files-new/breaking-news';

@use './sass_files-new/user-dashboard';


//general styling
@use './sass_files-new/latest-post-new';
//general styling ends here

@use './sass_files-new/popular-stories';

@use './sass_files-new/subscription-form';

@use './sass_files-new/news_by_category';
@use './sass_files-new/footer';


@use './sass_files-new/detailed-post';

@use './sass_files-new/registration';


@use './sass_files-new/coupon-verification';
@use './sass_files-new/desktop';

@use './sass_files-new/admin_login';


.categories{
    margin: 10px;
    margin-top: 30px;
    box-shadow: 2px 2px 2px 3px rgb(221, 218, 218,0.3);
    padding: 10px;
    border-radius: 4px;
    .category{
        display: flex;
        justify-content: space-between;
        padding-bottom: 6px;
        font-size: 1.2rem;
        margin: 0px 10px 7px 10px;
        border-bottom: 1px dotted grey;
        span:nth-child(2){
            padding: 2px 5px;
            background: $primary-color-1;
            color: $primary-color-2;
        }
    }
    h2{
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 1.8rem;
    }
    ul{
        list-style-type: circle;
    }
}

.desktop{
    display: none; 
}