// General styling starts here
$button-color1:#ECF1F7;
$color1:#070B7A;
$color2:#000E5C;
$color3:#003FED;
$color4:#C9CFEF;
$color5:#070EEB;






//register styling starts here
.sign-up{
    margin-bottom: 30px;
}
.padd-more{
    padding:10px 43px;
    text-align: left;
    font-size: 0.9rem;
}
.the-second{
    position: relative;
}
.have-acct{
    // border-bottom:1px solid rgba(128, 128, 128,0.5);
   
    margin-bottom: 12px;
    padding-bottom: 16px;
    a{
        color:red;
    }
}

.register-section{
    button{
        border-radius: 50px;
        padding: 10px 35px;
        text-transform: uppercase;
        background: $color1;
        margin: 10px auto 15px auto;
        color: white;
        font-weight: bold;
        border: $color1;
    }
    .divider{
        border: 1px solid rgba(128, 128, 128,0.5);
        margin-bottom: 13px;
    }

    
    section+.form-group{
        margin: 40px 10px;
        input{
            margin-right: 6px;
        }
    }
    section{
        border: 1px solid rgba(128, 128, 128,0.4);
        padding: 15px;
        .form-group{
            margin-bottom: 8px;
            input{
                border-radius: 6px;
                padding: 5px;
                margin-left: 7px;
                border: 1px solid rgba(128, 128, 128,0.4);
                box-shadow:3px 2px 2px rgba(128, 128, 128,0.2) ;
            }
            label{
                margin-bottom: 4px;
                font-weight: bold;
            }
            input,label{
                width:100%;
                box-sizing: border-box;
            }

        }
        
    }
    
}
//registration section ends here 
//vendors starts here
// d
.vendors-content{
    h2{
        margin-bottom: 15px;
    }
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    & >div{
        background:#DCDFF3;
        padding: 40px 40px 60px 40px ;
        table{
            text-transform: uppercase;
            background: white;
            border-collapse: collapse;
            td,th{
                padding: 7px 40px;
                border-collapse: collapse;
            }
        }
        thead{
            background:#0017E6;
            color: white;
            border-collapse: collapse;

        }
        tbody{
            tr:nth-child(even){
                background: rgba(0, 23, 230,0.1);

            }
        }

        
    }
}

//vendors ends here

//socail media share links starts here

.social-media-share{
    & >div{
        display: flex;
        div{
            margin-left: 7px;
        }
    }
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0px; 
    left: 0px;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 4px 0px 8px rgba(0,0,0,0.3);
    a {
        transition: 1s;
        & :hover{
            transform: scale(1.2);
        }
        
        .fa-facebook{
                color: #3b5998;
        }

        .fa-whatsapp{
            color: #25d366;
        }
        .fa-twitter{
            color: #1da1f2;
        }

        .fa-instagram{
            color: #c13584;
        }

        .fa-linkedin{
            color: #0077b5;
        }
        
        

        
        
        i{
            font-size: 1.6rem;
        }
    }
    

}

//socail media share links endss here


// admin dashboard starts here
// .display{
//     background: rgba(230, 227, 227, 0.1);
//     height: 600px;
//     margin-top: 0px;
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     padding: 5px;
//     &>div{
//         display: flex;
//         justify-content: center;
//         padding: 5px;
//         flex-wrap: wrap;
//         background: grey;
        
//         &>div{
//             width: 250px;
//             height: 150px;
//             background: white;
//             margin: 5px;
            
//         }

//     }
// }
#dashboard-main{
    .toggle-close{
        margin-bottom:30px;
        text-align: right;
        margin-right: 20px;
        font-size: 2rem;
    }
    header{
        box-shadow: 0px 2px 1px rgb(128, 128, 128,0.2);
        border: 0px;
        margin-bottom: 30px;
        // position: fixed;
        // height: 100vh;
    }
    background: rgba(255, 255, 255,1);
    width: 100vw;
    box-sizing: border-box;
    .toggle-nav2{
        padding: 5px;
        width: 40px; 
        // background: grey;
        box-shadow: 3px 3px 4px rgba(255, 255, 255,0.4);
        div{
            padding:2px;
            border-radius: 50px;
            background: rgba(0, 0, 255,0.7);
            margin: 4px;
            width: 30px;
            &:last-child{
                width: 21px;
            }
        }
    }
    nav{
        background: rgba(255, 255, 255);
        height: 100vh;
        box-shadow: 4px 0px 2px rgb(128, 128, 128,0.2);
        border-radius: 0px 100px 0px 0px;
        padding-top: 50px;
        color: rgba(0, 0, 255,0.4);
        position: fixed;
        z-index: 10;
        & >ul{
            &>li{
                margin-left: 15px;
                margin-right: 20px;
                margin-bottom: 30px;
                ul{
                    li{
                        padding-left: 20px;
                        a{
                            margin-bottom: 10px;
                            display: block;
                            padding: 10px;
                        }
                    }
                }
                &>a{
                    padding: 10px;
                    background: rgba(230, 227, 227, 0.1);
                    width: 150px;
                    display: block;
                    text-transform: uppercase;
                    span{
                        margin-left:5px;
                        padding: 4px 10px;
                        background: blue;
                        border-radius: 6px;
                        color: white;
                    }
                }
            }
        }
    }
    // #temp1{
    //     height: 50px;
    // }


#logout{
    padding: 5px 10px;
    position: fixed;
    margin-top: 10px;
    margin-right: 7px;
    right: 0px;
    z-index: 10;
}

.admin-posts-dashboard{
    input{
        width: 100%;
        box-sizing: border-box;
        border: none;
        outline: none;
        font-size: 20px;
        padding: 8px;
    }
}
   
    
    #save-and-preview{
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        button{
            padding: 10px 15px;
            width: 25vw;
            text-align: center;
            text-transform: uppercase;
            background-color: $color3;
            color: white;
            border: $color3;
            outline: none;
            border-radius: 5px;
        }
    }

    #new-post-title{
        
        border: none;
        outline: none;
        width: 100%;
        font-size: 27px;
        box-sizing: border-box;
        padding: 8px;
        margin-bottom: 20px;
    }
    #category{
        border: none;
        outline: none;
        width: 100%;
        font-size: 20px;
        padding: 8px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
    .ck-editor__editable_inline {
        min-height: 300px;
        width: 100%;
    }
}

// admin dashboard ends here


*{
    padding:0;
    margin: 0;
}
.full{
    width: 100%;
}
button:hover{
    cursor: pointer;
}

.block{
    display: block;
}
.red{
    color: red;
}

.center-text{
    text-align: center;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

.container{
    padding: 0px 20px;
}

.active{
    background: rgba(255, 255, 255,0.19);
    font-weight: bold;
    cursor: pointer;
}

//general styling ends here



//Mobile styling starts here

//styling for the header starts here
.header{
    padding: 0px;
}
.banner{
    background: rgba(168, 121, 121,0.02);
    background: white;
    height: 100%;
    #brand{
        text-align: center;
        text-transform: uppercase;
        font-size: 1.5rem;
        height: 100%;
       
    }
}


#welcome{
    display: none;
    background: rgba(168, 121, 121,0.02);
}

//styling for the header ends here

//breaking nes and adverts starts here
.breaking-news-and-more{
    // margin-top: 1px;
    #adverts{
        height: 36px;
        width: 100vw;
        background: $color4;
    }
}

.the-search-and-more{
    margin-top: 26px;
    .the-adverts{
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $color4;
        width: 80vw;
        margin: 0px auto;
        height: 36px;
        text-transform: uppercase;
        font-size: 0.8rem;
        span{
            position: absolute;
            left: 33%;
        }
       
    }
    .search{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        button{
            padding: 10px 70px;
            background: white;
            border:1px solid grey;
        }
    }
}

//breaking news and adverts ends here

//details about posts
.more-details{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3,60px);
    column-gap: 10px;
    img{
        cursor: pointer;
        & :hover{

        }

    }
}
//details about posts ends here

//Detailed story starts here
.news-detailed{
    // margin: ;

    .image{
        width:100%;
    }
}


//Detailed story ends here

//readers' reviews starts here
.theComment{
    margin-bottom: 12px;
}
.reviews{
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid rgb(221, 216, 216);
}

//readers' review ends here


// toggle nav styling starts here 
.primary-nav{
    
    // background: $color2;
    .toggle-nav{
        padding-left: 0px;
        background: $color2;
        padding-bottom: 6px;
        & div{
            width: 100vw;
            background: $color3;
            padding-top: 8px;
            margin-left: 0px;
            img{
                margin-left: 20px;
            }
        }
    }
    nav{
        display: none;
        opacity: 0;
        height: 0px;
        transition: all 0.8s;
        background: $color2;
        position: relative;
        top: -2px;
        padding: 2px 0px 12px inherit;
        #sep1{
            display: flex;
            justify-content: space-between;
            #left-it{
                height: 14px;
            }
        }
        #sub-cat1{
            display: none;
            margin-left: 30px;

        }
        a{
            color:white;
            text-transform: uppercase;
            font-size: 0.7rem;

        }

        ul{
            background: $color2;
            li{
                padding-bottom: 4px;
            }
        }

        .form-nav{
            padding-bottom: 10px;
        }
    }
}


//styling for the most-liked starts
.most-liked{
    margin-top: 35px;
    .image-wrapper{
        .image{
            width: 100%;
            display: block;
            border-radius: 7px 7px 0px 0px;
        }
    }
    h3,h4,em,.more-details{
        padding-left:25px ;
        
    }
    h4{
        text-transform: uppercase;
        font-size: 0.7rem;
        padding-top:25px;
        padding-bottom: 7px;
    }
    h3{
        text-transform: capitalize;
        font-size: 1rem;
        margin-bottom: 3px;
    }
    em{
        display: block;
        margin-bottom: 5px;
    }


   
}

//category most liked starts here
.liked-in-categories{
    margin-top: 30px;

    .conainer{
        .story{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 23vh;
            column-gap: 9px;
            margin-top: 10px;
            margin-bottom: 20px;
            margin-left: 20px;
            .image-wrapper{
                overflow: scroll;
                border-radius: 7px;

                .image{
                    width: 300px;
                    // display: block;
                    
                }

            }
            
            h3,h2{
                font-size: 0.8rem;
            }
        }

    }
}

//category most liked ends here


//forms controls starts here
.forms-section{
    margin-top: 80px;
    .container{
        a{
            display: grid;
            width:35vw;
            background: $button-color1;
            text-align: center;
            padding: 10px 0px;
            margin:15px auto;
            border-radius: 50px;
            text-transform: uppercase;
            color: $color1;
        }
    }
}
//forms controls ends here

//styling for the most liked ends


//styling for the main content area starts here

.aside-home{
    display: none;
}

//styling for the main content area ends here
//styling for detailed page
.news-detailed{
    h5{
        margin-bottom: 12px;
        text-transform: uppercase;
        
        // margin-top: 12px;
    }
    
    .article{
        margin-top: 20px;
        p{
            margin-bottom: 12px;
            line-height: 1.5rem;
        }
        
    
       
    }
}

//styling for detailed page ends here

//login page starts here
.login-section{
    margin: 40px auto;
    form{
        margin-bottom: 25px;
        .button{
            display: block;
            width:100%;
            border-radius: 50px;
            padding: 8px 0px;
            background: $color1;
            color: white;
            text-transform: uppercase;
            border: 1px solid $color1;
            outline: none;
            box-shadow: 3px 6px 9px 3px rgba(128, 128, 128,0.2);
        }
        .form-group{
            color: rgba(81, 92, 111,0.5);
            font-size: 0.9rem;
            text-transform: uppercase;
            display: flex;
            justify-content: space-around;
            align-items: center;
            box-shadow: 3px 6px 9px 3px rgba(128, 128, 128,0.2);
            border-radius: 8px 8px 0px 0px;
            padding: 3px 5px 0px 5px;
            margin-bottom: 25px;
            &:nth-child(2){
                border-radius: 0px 0px 8px 8px;
            }
            & >div{
                margin:10px 4px;
                input{
                    padding: 6px;
                    border: none;
                    outline: none;
                }
                
            }
            & >div:first-child{
                padding-top: 6px;
            }
            
            
        }

    }
    p{
        margin-bottom: 15px;
    };
    
}

//login page ends here

//comments starts here
.comments{
    padding: 10px;
    box-shadow: 3px 3px 3px 3px rgba(128, 128, 128,0.3);
    form{
        & >div{
            margin-bottom: 15px;
            margin-top: 15px;
            input,textarea{
                padding: 5px;
                box-sizing: border-box;
                outline: none;
            }
            input{
                border:none;
                border-bottom: 1px solid grey;
            }

        }
        button{
            padding: 10px;
            background: $color3;
            color: white;
            text-transform: uppercase;
            font-size: 0.7rem;
            border: $color3;
            border-radius: 4px;
        }
    }
}

// comments ends here

.detailed{
    background: rgba(128, 128, 128,0.2);
}
.news-detailed{
    h1{
       font-size: 1.8rem;
       margin-bottom: 7px;
    }
    padding: 12px;
    background: white;
}

//news by category starts here
.news-by-cat{
    min-height: 68vh;
}

.category-contents{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a{
        display: block;
        background: $color3;
        padding: 5px 10px;
        color: white;
        margin-top: 10px;
        width: fit-content;
    }

    & >div{
        // text-align: center;
        padding: 5px;
        display: block;
        margin: 10px 5px;
        // background: lightgray;
        width: 250px;
        & >div{
            width: 100%;
            margin-top: 8px;
            
            img{
                width: 100%;
                border-radius: 6px;
                
            }
        }
        // height: 300px;
    }
}

//news by category ends here

// footer styling starts here
footer{
    margin-top: 20px;
    // min-height: 88vh;
    .biz-links{
        background: $color1;
        display: flex;
        justify-content: space-between;
        padding: 10px initial 7px initial;
        a{
            color: rgba(255, 255, 255,0.8);
            font-size: 0.5rem;
            text-transform: uppercase;
    
        }
    
    }
    
}


// footer styling ends here










//Mobile styling ends here


// Desktop styling starts here
@media(min-width:810px){

    
    //registration starts here

    .register-section{
        margin-left: 16%;
        button{
            padding: 7px 100px;
        }
        .padd-second{
            padding:10px 125px;
        }
        .padd-first{
            text-align: center;
        }

    }
    //registration ends here

    .social-media-share{
        
        background: white;
        display: flex;
        flex-direction: column;
        transform: translateY(-70%);
        padding: 10px;
        position: fixed;
        width: fit-content; 
        left: 0px;
        border-radius: 0px 8px 8px 0px;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
        a{
            margin-bottom: 13px;
        }
    }
    .toggle-nav{
        display: none;
    }
    .primary-nav{
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: fit-content;
            flex-wrap: wrap;
            opacity:1;
            & >ul>li:hover #sub-cat1{
                display: block;
                margin-top: 7px;
                margin-left: -10px;
                position: absolute;

            }
            & >ul>li:hover #sub-cat1 ul{
                display: block;
            }
            // & >ul>li:hover #sub-cat1 ul li{
            //     background: transparent;
            // }
            ul{

                display: flex;
                justify-content: space-between;
                align-items: center;
                #sub-cat1{
                    display: none;
                    
                    a{
                        color:white;
                    }
                }
                li{
                    margin-right: 2vw;
                    padding: 5px 10px;
                    color: white;
                    &:hover{
                        background: rgba(255, 255, 255,0.19);
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }
        }
        
        .form-nav{
            margin-top: 5px;

        }
    }
    #welcome.container{
        display:flex;
        justify-content: center;
        padding-left: 200px;
        width: 40vw;
        font-size: 6vw;
        color: $color2;
    }
    #brand{
        background: white;
        width: 40vw;
        margin-left: 0px;
        color: $color2;
        img{
            width: 55px;
        }
    }
    .container{
        padding:0px 70px;
    }

    .banner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        #brand{
            display: flex;
            align-items: center;
        }

    }

    .main-section{
        display: grid;
        column-gap: 45px;
        grid-template-columns: 1.5fr 1fr;
        
        .aside-home{
            display: block;
            margin-top: 38px;
            width: 100%;
           
            & >h3{
                text-align: center;
                padding:10px 0px;
                background: $color5;
                color:white;
                border-radius: 10px 10px 0px 0px;
                margin-bottom: 20px;
                text-transform: uppercase;
            }
        }
        .news{
            .latest-newz{
                margin-bottom: 25px;
                margin-left: 22px;
                display: grid;
                grid-template-columns: 1fr 1.7fr;
                column-gap: 25px;
                img{
                    width: 100%;
                    border-radius: 7px;
                }
                h2{
                    font-size: 0.9rem;
                }
                h3{
                    text-transform: uppercase;
                    font-size: 0.7rem;
                }
            }
        }
    }
    .forms-section{
        display: none;
    }

    .desktop-advert{
        margin-top: 80px;
        background: $color2;
        margin-left: 22px;
        box-sizing: border-box;
        padding: 30px 20px;
        .adverts-content{
            padding: 60px 0px;
            font-size: 5rem;
            color: #A4B2FF;
            text-align: center;
            background: #7A9FC1;
            font-weight: bolder;
            border-radius: 25px;
        }
    }
    .the-search-and-more{
        
        .the-adverts{
            display:none;
        }
    }
    .liked-in-categories{
 
    
        .conainer{
            .story{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 150px;
                column-gap: 9px;
                margin-top: 10px;
                margin-bottom: 20px;
                margin-left: 20px;
                .image-wrapper{
                    overflow: scroll;
                    border-radius: 7px;
    
                    .image{
                        width: 100%;
                        // display: block;
                        
                    }
    
                }
                
             
            }
    
        }
    }
    #for-registry{
        margin-top: 5px;
        background: red;
        padding-bottom: 8px;

        #register{
            padding:5px;
            background:rgba(255, 255, 255,0.27);
        }
    }
    

    .news-detailed{
        background: white;
        margin:0 14vw ;
        padding:20px 2vw;
        border-radius: 6px;
        .image-wrapper{
            box-shadow: 3px 3px 5px 4px rgba(128, 128, 128,0.4);
            margin-bottom: 15px;
            .image{
                width:100%;
            }

        }
        
    }

    .login-section{
        border:1px solid black;
        height: fit-content;
        border-radius: 6px;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    
    footer{
        
        .biz-links{
            padding-top: 15px;
            a{
                font-size: 0.7rem;
            }
        }
        
    }
}

    //most ;iked story starts here
    
    //most ;iked story ends here






// Desktop styling ends here



//admin

#admin-form {
    background-color: white;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    .admin-brand{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    

    section{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width:300px;
        min-height: 250px;
        background: rgb(27, 27, 27);
        background: white;
        box-shadow: 3px 3px 4px 3px rgba(197, 197, 197, 0.3);
        border-radius: 5px;
        #admin-options{
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            
        }
        
    }
    .form-section{
        width: 90%;
        padding: 10px;
       
        form{
            padding-bottom: 20px;
            div>div{
            
            
            
            
                background: white;
                
                
                input{
                    background: whitesmoke;
                    padding: 10px;
                
                    width: 100%;
                    box-sizing: border-box;
                    border-radius: 4px;
                    outline: none;
                    border: none;

                }
            }
            button{
                text-transform: uppercase;
                background:$color3;
                outline: none;
                border: $color3;
                color: white;
                margin-top: 10px;
                padding: 10px;
                width: 100%;
                border-radius: 5px;
                
    
            }
           
        }
        

    }
    
}

.block{
    display: block;
}
.hide{
    display: none;
}
