$primary-color_1:#000E5C;
$primary-color_2:#171A70;
$primary-color_3:#707070;
$danger-color_1:#FF0303;
$danger-color_2:#910A0A;


.container{
    width: 88vw;
    margin:0px auto;
    margin-top:20px;
}

.center-text{
    text-align: center;
}

#topmost-header{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding-bottom: 17px;
    #toggle-menu{
        position: absolute;
        left:24px;
        top: 40px;
    }
    a{
       text-decoration: none; 
    }
}

#top-bar>div:nth-child(2){
    font-size:3rem;
    font-weight: bold;
    color: $primary-color_1;
    background: #E4E4E4;
    text-align: center;
    padding:5px 0px 8px 0px;
    border-bottom: 11px solid rgba(0, 14, 92,0.26);
    
}


#news{
    display: flex;
    #breaking-news{
        background:radial-gradient($danger-color_1 70%,$danger-color_2);
        width: fit-content;
        padding:10px;
        color: white;
        text-transform: uppercase;
        font-size: 10px;
        box-shadow: 14px 15px 10px $danger-color_1;
    }
    #news-slide{
        width: 68.9%;
        height: 31px;
        background:$primary-color_3;
    }  

}



#search-btn{
    border: 2px solid $primary-color_3;
    text-align: center;
    width: fit-content;
    padding: 7px 70px;
    margin: 40px auto 20px auto;
}





.article{
    padding:10px 15px;
    .story-title{
        color:#303336;
        margin-bottom: 10px;
    }
    .story-category{
        text-transform: uppercase;
        margin-top: 15px;
    }
}

.story-image{
    width:100%;
}





.access-buttons{
    margin-bottom: 200px;
    .button{
        background: #ECF1F7;
        color: $primary-color_2;
        font-size: 17px;
        text-transform: uppercase;
        padding: 15px 10px;
        width: 80px;
        margin:0px auto 10px auto;
        border-radius: 50%;
    
    }
}

footer{
    height: 38px;
    background-color: #000E5C;
}

/* Mobile design styles ends here */

.hide{
    display: none;
}

