$primary-color_1:#000E5C;
$primary-color_2:#171A70;
$primary-color_3:#707070;
$danger-color_1:#FF0303;
$danger-color_2:#910A0A;
$active-color:#141F57;
$fg-lifestyle:#E44385;
$fg-fashion:#0AACDC;


*{
    padding:0;
    margin: 0;
}
.fg-red{
    color: #E44385;
}

.fg-blue{
    color: #0AACDC;
}


.container{
    width: 88vw;
    margin:0px auto;
    margin-top:20px;
}

.center-text{
    text-align: center;
}

#topmost-header{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding-bottom: 17px;
    #toggle-menu{
        position: absolute;
        left:24px;
        top: 40px;
        
    }
    a{
       text-decoration: none; 
    }
    

}


#top-bar>div:nth-child(2){
    font-size:3rem;
    font-weight: bold;
    color: $primary-color_1;
    background: #E4E4E4;
    text-align: center;
    padding:5px 0px 8px 0px;
    border-bottom: 11px solid rgba(0, 14, 92,0.26);
    
}

#primary-nav{
    
    text-transform: uppercase;
    position: absolute;
    top:0px;
    left: 0px;
    padding-top:80px;
    width:60vw;
    background: #000C47;
    color:white;
    height: 100vh;
    a{
        text-decoration: none;
        color:white;
    }
    ul{
        list-style-type: square;
        padding-left:50px;
        li{
            margin-bottom: 5px;
        }
    }
}

.nav-close{
    transform: translateX(-100%);
}

.nav-close,.nav-open{
    
    transition: 0.8s;
}

.nav-open{
    transform: translateX(0%);
}


#news{
    display: flex;
    #breaking-news{
        background:radial-gradient($danger-color_1 70%,$danger-color_2);
        width: fit-content;
        padding:10px;
        color: white;
        text-transform: uppercase;
        font-size: 10px;
        box-shadow: 14px 15px 10px $danger-color_1;
    }
    #news-slide{
        width: 67%;
        height: 31px;
        background:$primary-color_3;
    }  

}



#search-btn{
    border: 2px solid $primary-color_3;
    text-align: center;
    width: fit-content;
    padding: 7px 70px;
    margin: 40px auto 20px auto;
}





.article{
    padding:10px 15px;
    .story-title{
        color:#303336;
        margin-bottom: 10px;
    }
    .story-category{
        text-transform: uppercase;
        margin-top: 15px;
    }
}

.story-image{
    width:100%;
}





.access-buttons{
    margin-bottom: 200px;
    .button{
        background: #ECF1F7;
        color: $primary-color_2;
        font-size: 17px;
        text-transform: uppercase;
        padding: 15px 10px;
        width: 80px;
        margin:0px auto 10px auto;
        border-radius: 50%;
    
    }
}

footer{
    height: 38px;
    background-color: #000E5C;
}

//latest news blog page
.latest-news{
    margin-bottom:27px;
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 10px;
    text-overflow: wrap;
    .news-image-wrapper{
        img{
            display:block;
            width:100%;
            height:100%;
        }
    }
    .news-content{
        .news-date{
            color: rgba(80, 78, 78,0.5);
            font-size:0.8rem;
        }
        // background: grey;
    }
    h4{
        margin-bottom: 6px;
        a{
            text-decoration: none;
        }
    }
    h3{
        margin-bottom: 3px;
        font-size:1.1rem;
    }
}

/* Mobile design styles ends here */

.hide{
    display: none;
}

