<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main id="admin-form">
    <section>
        <div>
            <div class="form-section">


                <form action="/admins/login" method="POST">
                    <div>
                        <div>
                            <img src="" alt="">
                            <input type="text" placeholder="User Name" name="name">
                        </div>

                        <div>
                            <img src="" alt="">
                            <input type="password" placeholder="Password" name="password">
                        </div>
                        <button class="block" type="submit">Login</button>
                        <% if (messages.error) { %>
                        <em><%= messages.error %></em>
                        <% } %>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <div class="admin-brand">
                <div>
                    <img src="../images/logo1.png" alt="">
                </div>
                <h1>
                    <a href="/">Digital News Hub</a>
                </h1>
            </div>
            <div>
                <div id="admin-options">
                    <div>
                        <input type="radio" name="admin-option" id="" checked> <label for="">Admin</label>
                    </div>

                    <div>
                        <input type="radio" name="admin-option" id=""> <label for="">Super Admin</label>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="../js/navs.js"></script>
<%- include('./partials/footer.ejs') %>