<%- include('./partials/head-new.ejs') %>
<%- include('./partials/header-new.ejs') %>

<main>
    <section class="content">
        <div class="container main-section">
            <section class="container register-section">
                <div>
                    <h2 class="center-text sign-up">Sign Up</h2>

                    <form action="/" method="POST">
                        <section>
                            <div class="form-group">

                                <label for="user-name" class="block">First Name</label>
                                <input type="text" name="user-name" class="block">
                            </div>
                            <div class="form-group">
                                <label for="last-name" class="block">Last Name</label>
                                <input type="text" name="last-name" class="block">

                            </div>
                            <div class="form-group">
                                <label for="username" class="block">Username</label>
                                <input type="text" name="username" class="block">
                            </div>
                            <div class="form-group">
                                <label for="email" class="block">Email</label>
                                <input type="email" name="email" class="block">
                            </div>

                            <div class="form-group">
                                <label for="email" class="block">Email</label>
                                <input type="email" name="email" class="block">
                            </div>

                            <div class="form-group">
                                <label for="phone" class="block">Phone</label>
                                <input type="tel" name="phone" class="block">
                            </div>

                            <div class="form-group">
                                <label for="password" class="block">Password</label>
                                <input type="password" name="password" class="block">
                            </div>

                            <div class="form-group">
                                <label for="ref-username" class="block">Referal's Username</label>
                                <input type="text" name="ref-username" class="block">
                            </div>
                        </section>

                        <div class="form-group">

                            <input type="checkbox" name="t-and-c">
                            <label for="t-and-c">I accept to the <a href="#">Terms</a> and <a
                                    href="">Conditions.</a></label>
                        </div>

                        <button type="submit" class="sign-up block">sign up</button>

                    </form>
                    <div class="divider"></div>
                    <div>
                        <p>
                        <div class="center-text have-acct">Already have an account?<a href="#"> Login Here</a></div>
                        <div class="divider the-second"></div>
                        <div class="padd-more padd-first">Click <a href="#" class="red">here</a> for authorised
                            activation code
                            merchants.</div>

                        </p>
                        <p>
                        <h3 class="center-text"> Withdraw, Payment or cash</h3>
                        <p class="padd-more padd-second">
                            Kindly note that affiliate/referral
                            commissions are paid out in cash
                            within 24 hours.
                        </p>
                        </p>

                    </div>

                </div>
            </section>

            <aside class="aside-home">
                <h3>Latest News</h3>
                <%- include('./partials/latest-news.ejs') %>

            </aside>

        </div>


    </section>
</main>
<%- include('./partials/footer-new.ejs') %>