<%- include('./partials/head-new.ejs') %>
<%- include('./partials/header-new.ejs') %>

<main>
    <section class="coupon-page hide">
        <section class="modal-container">
            <div class="modal">
                <div class="navigation">
                    <i class="fa fa-close" aria-hidden="true"></i>
                </div>
                <header>
                    <div></div>
                    <h1>Create account</h1>
                    <h2>Final stage: Coupon verification</h2>

                </header>

                <!-- <div cla</div> -->
                <main>
                    <p class="center-text">Please key in a verified coupon gotten from our vendors</p>

                    <div>
                        <form action="/registration/coupon" method="POST">
                            <div class="coupon-input-wrapper">
                                <label for="coupon">Coupon</label>
                                <input type="text" placeholder="key in Coupon" name="coupon" id="coupon" required>
                                <i class="fa fa-check-circle"></i>
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            </div>
                            <p>
                                <small>Don't have one yet? Just contact any of our <a
                                        href="/voucher-vendors">Vendors.</a></small>
                            </p>
                            <div class="controller">
                                <button class="submit-coupon">Submit</button>
                                <button class="reset-coupon">Reset</button>
                            </div>
                        </form>
                    </div>
                    <a href="/dashboard/home" class="hidden-login"></a>

                </main>
                <footer>More info</footer>
            </div>

        </section>
    </section>
    <section class="registration-wrapper">
        <div class="container registeration">
            <aside></aside>

            <div>
                <h1 class="center-text title">Create account</h1>
                <h3 class="center-text">Let's get started</h3>

                <form action="/" method="POST">
                    <section>
                        <div class="form-group">

                            <label for="first-name" class="block">First Name</label>
                            <input type="text" name="first-name" class="block" placeholder="First Name" required>
                            <small class="error-message fn-error"></small>
                        </div>
                        <div class="form-group">
                            <label for="last-name" class="block">Last Name</label>
                            <input type="text" name="last-name" class="block" placeholder="Last Name" required>
                            <small class="error-message">Error</small>
                        </div>
                        <div class="form-group">
                            <label for="username" class="block">Username</label>
                            <input type="text" name="username" class="block" placeholder="Username" required>
                            <small class="error-message">Error</small>
                        </div>
                        <div class="form-group">
                            <label for="email" class="block">Email</label>
                            <input type="email" name="email" class="block" placeholder="Email" required>
                            <small class="error-message">Error</small>
                        </div>


                        <div class="form-group">
                            <label for="phone" class="block">Phone</label>
                            <input type="tel" name="phone" class="block" placeholder="Mobile Phone" required>
                            <small class="error-message">Error</small>
                        </div>

                        <div class="form-group">
                            <label for="password" class="block">Password</label>
                            <input type="password" name="password" class="block" placeholder="Password" required>
                            <small class="error-message">Error</small>
                        </div>

                        <div class="form-group">
                            <label for="password" class="block">Password</label>
                            <input type="password" name="confirm-password" class="block" placeholder="Confirm password"
                                required>
                            <small class="error-message">Error</small>
                        </div>

                        <div class="form-group">
                            <label for="ref-username" class="block">Referal's Username</label>
                            <input type="text" name="ref-username" class="block" placeholder="Referral's Username"
                                required>
                            <small class="error-message">Error</small>
                        </div>
                    </section>

                    <div class="form-group">

                        <input type="checkbox" name="t-and-c" required class="t-and-c">
                        <span for="t-and-c">I accept to the <a href="#">Terms and Conditions.</a></span>
                    </div>
                    <div class="button-control">
                        <button type="submit" class="user-submit block">Submit</button>
                    </div>

                </form>
                <div class="divider"></div>
                <div class="create-acct-others">
                    <p>
                    <div class="center-text have-acct ">Already have an account?<a href="/login" class="red"> Login
                            Here</a></div>
                    <div class="center-text">Click <a href="#" class="red">here</a> for authorised
                        activation code
                        merchants.</div>

                    </p>
                    <p>
                    <h3 class="center-text"> Withdraw, Payment or Cash</h3>
                    <p class="padd-more padd-second">
                        Kindly note that affiliate/referral
                        commissions are paid out in cash
                        within 24 hours.
                    </p>
                    </p>

                </div>




            </div>
    </section>



</main>
<script src="../js/user-registration.js"></script>
<%- include('./partials/footer-new.ejs') %>