<%- include('./partials/head.ejs') %>
<header class="wrapper">
    <div class="dash-toggle-wrapper">
        <div class="container">
            <img src="./images/handbuggermenu2.png" alt="">

        </div>
        
    </div>
    <nav class="wrapper dash-nav">
        <ul class="container">
            <li><a href="/">home</a></li>
            <li><a href="/">dashboard</a></li>
        </ul>
    </nav>
</header>


<main>
    <section class="wrapper dashboard-wrapper center-text" >
        <div class="container">
            <div class="profile-avatar">
                <img src="./images/avatar_holder1.png" alt="profile picture/avatar">
                <h2>Profile avatar</h2>
            </div>
            <div class="earning-details">
                                
                <div>
                    <div>
                        Active Balance
                    </div>
                    <div>
                        N5,000
                    </div>
                </div>
                <div>
                    <div>
                          Referral Balance          
                    </div>
                    <div>
                        N1,000
                    </div>
                </div>
                <div id="border-line"></div>
            </div>
            <div class="earning-control">
                <button>Withdraw Funds</button>

            </div>
        </div>
    </section>


</main>



<%- include('./partials/footer.ejs') %>