<%- include('./partials/head.ejs') %>
<section class="weapper">
    <header>
        <div id="top-bar">
            <div id="topmost-header">
                <div id="toggle-menu">
                    <img src="images/handbuggermenu2.png" alt="menu" width=75px>
                </div>
                <div>
                    <div>
                        <a href="/">
                            <img src="images/Digitalnewpay logo-02.svg" alt="Brand logo" width="70.55px">
                        </a>
                    </div>
                    <div>
                        <a href="/">digitalnews hub</a>
                    </div>


                </div>


            </div>

            <div id="welcome">
                Welcome
            </div>
        </div>
        <nav id="primary-nav" class="hide">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">news hub</a></li>
                <li><a href="">news hub</a></li>
                <li><a href="">get coupon</a></li>
                <li><a href="">how it works</a></li>
                <li><a href="">sign up</a></li>
                <li><a href="">login</a></li>
            </ul>
        </nav>

    </header>
</section>
<main class="wrapper">
    <section class="container">
        <div>
            <div id="news">
                <div id="breaking-news">
                    Breaking news
                </div>
                <div id="news-slide"></div>
            </div>
            <div id="search-btn">
                Search
            </div>
        </div>

    </section>
    <section class="story container">
        <div class="image-wrapper">
            <img src="./images/story image1.1.png" alt="" class="story-image">
        </div>
        <div class="article">
            <h4 class="story-category">Travel</h4>
            <h2 class="story-title">Surfing in Maldives</h2>
            <article>
                It’s windy. The cool breeze of the ocean. It gives, a sense of beauty, in motion. All is flowing,
                rushing and tide-And I sit in wonder, dreaming beside.
            </article>
        </div>

    </section>
    <section class="container access-buttons">
        <div class="button center-text">login</div>
        <div class="button center-text">sign up</div>

    </section>

</main>

<%- include('./partials/footer.ejs') %>