<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <section class="how-it-works">
        <div></div>
        <div></div>
        <div></div>

    </section>

</main>

<script src="../js/navs.js"></script>
<%- include('./partials/footer.ejs') %>