<%- include('./partials/head-new.ejs') %>

<header class="user-dashboard-header">
    <nav class="user-nav">
        <div>
            <h2>DnPayHub</h2>
            <div class="user-toggle">
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>
        <div>
            <ul>

            </ul>
        </div>

    </nav>
    <section class="container quick-access">
        <div>
            <span>
                <i class="fa fa-search"></i>
            </span>
            <span>
                <i class="fa fa-bell"></i>
            </span>
            <span>
                <i class="fa fa-envelope"></i>
            </span>
        </div>
        <div>
            <div class="identity">
                <span class="avatar-wrapper">
                    <i class="fa fa-user"></i>

                </span>
                <span>John Doe</span>
            </div>

        </div>
    </section>

</header>
<main class="user-dashboard">
    <section class="container">
        <header>
            <h2 class="dashboard">Dashboard</h2>
            <div class="bread-crumbs"><a href="/">Dashboard</a></div>
        </header>
    </section>
    <section class="container">
        <div>


            <header>
                <h3>Total Points</h3>

            </header>
            <div>
                lorem
            </div>
        </div>
    </section>
    <section class="container">
        <div>


            <div>
                <i class="fa fa-star" aria-hidden="true"></i>

            </div>
            <div>
                Total points
                <div>0</div>
            </div>
        </div>

    </section>
    <section class="container">
        <div>
            <div><img src="../images/naira.svg" alt="" width="70"></div>

            <div>
                Total Earning
                <div>0</div>
            </div>
        </div>

    </section>
    <section class="container">
        <div>


            <header>
                <h3> Total Withdrawal made</h3>

            </header>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, alias!
            </div>
        </div>

    </section>
    <section class="container">
        <div>
            <header>
                <h3>Available Withdrawls</h3>

            </header>
            <div>
                Total Earning
            </div>
        </div>


    </section>
    <section class="container">
        <div>
            <div>
                <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <div>
                Total referlas
                <div>
                    0
                </div>
            </div>

        </div>


    </section>
</main>

</body>

</html>