* {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Helvetica Neue", helvetica, arial, sans-serif;
}

.hide {
  display: none;
}

html {
  font-size: 10px;
  color: #636363;
  line-height: 1.7;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.top {
  display: none;
  z-index: 100;
  position: fixed;
  width: fit-content;
  bottom: 20px;
  left: 30px;
  background: red;
}

.block {
  display: block;
}

ul {
  list-style-type: none;
}

.center-text {
  text-align: center;
}

.sliding-news {
  display: flex;
  overflow: hidden;
}
.sliding-news .image-wrapper {
  max-height: 300px;
}
.sliding-news .image-wrapper img {
  width: 100vw;
}
.sliding-news .story-title {
  position: relative;
  top: -60px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}

.overlay {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 200;
  display: flex;
}
.overlay .layer {
  background: #ffffff;
}
.overlay .layer-1 {
  flex: 1;
}
.overlay .layer-2 {
  flex: 1;
}
.overlay .layer-3 {
  flex: 1;
}

.dnpay {
  color: #003FED;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 220;
  justify-content: center;
  align-items: center;
  display: flex;
  word-wrap: wrap;
}

.social-media-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 7px 15px;
}
.social-media-section .login {
  width: fit-content;
  padding: 5px 15px;
  text-align: center;
  color: white;
  background: #0f55ec;
  margin-left: 10px;
  border-radius: 3px;
}

.main-social-media-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-social-media-links-container .fa {
  color: #0f55ec;
  font-size: 1.3rem;
  border-right: 1px solid #0f55ec;
  padding: 5px 15px;
}

.top-banner {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  background: white;
}

.logo-and-caption {
  text-align: center;
  margin: 120px 0px 40px 0px;
  color: #535252;
}
.logo-and-caption h1 {
  text-transform: uppercase;
  font-size: 4rem;
  padding: 7px 20px;
  line-height: 1.4;
  color: #FFC151;
}
.logo-and-caption .sub-caption {
  text-transform: uppercase;
  font-style: italic;
  font-size: 0.9rem;
}

.primary-nav {
  background: #f6f6f6;
  background: #0f55ec;
  font-size: 1.3rem;
  padding: 10px 15px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary-nav ul {
  display: none;
}
.primary-nav input {
  border: none;
  padding: 6px;
  width: 70px;
  border-radius: 6px;
  outline: none;
  background: white;
}
.primary-nav .toggle-nav-main {
  padding: 5px;
}
.primary-nav .toggle-nav-main:hover {
  box-shadow: -2px 2px 1px 3px rgba(255, 255, 255, 0.5);
}
.primary-nav .toggle-nav-main > div {
  padding: 1.5px;
  background: white;
  margin-bottom: 3px;
  border-radius: 10px;
  width: 20px;
}

.primary-nav-mobile-container {
  margin-top: 87px;
  width: 100vw;
  border: 1px solid #d4d4d4;
  border-right: none;
  padding: 10px 15px 10px 0;
  box-shadow: 0px 3px 2px #9c9b9b;
}
.primary-nav-mobile-container .primary-nav-mobile a {
  text-transform: uppercase;
  padding: 1px 15px;
  display: block;
  color: #FFC151;
  font-weight: bold;
}

.breaking-news {
  background: rgba(246, 244, 244, 0.2);
  width: 80vw;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
.breaking-news img {
  width: 60px;
  height: 100%;
  border-radius: 10px;
}

.marquee-element {
  height: 100%;
  display: flex;
  animation: scrolling 20s linear infinite;
}

.marquee-element:hover {
  animation-play-state: paused;
}

@keyframes scrolling {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-150vw);
  }
}
.marquee-element > a {
  width: 30vw;
  flex-shrink: 0;
  margin: 5px;
  /* background: grey; */
  padding: 10px;
  display: flex;
  align-items: center;
}
.marquee-element > a div {
  margin-left: 5px;
}

@media (max-width: 657px) {
  .breaking-news .marquee-element > a {
    width: 80vw;
  }

  .marquee-element {
    animation: scrolling 20s linear infinite;
  }

  @keyframes scrolling {
    0% {
      transform: translateX(0vw);
    }
    100% {
      transform: translateX(-400vw);
    }
  }
}
.latest-post {
  margin: 10px 10px 50px 10px;
  padding: 20px 10px;
  box-shadow: 3px 3px 1px 4px rgba(240, 239, 239, 0.1);
}
.latest-post .header .category {
  text-transform: uppercase;
  color: #0f55ec;
  margin-bottom: 15px;
  font-size: 1.2rem;
}
.latest-post .header .title {
  font-size: 2.8rem;
  line-height: 1.4;
  color: black;
}
.latest-post .date-and-views, .latest-post .comments-and-share {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  margin: 10px;
  text-transform: uppercase;
}
.latest-post .image-wrapper {
  width: 100%;
  margin-bottom: 15px;
}
.latest-post .image-wrapper img {
  width: 100%;
  border-radius: 6px;
}
.latest-post .description {
  font-size: 1.6rem;
}
.latest-post .continue-reading {
  background: #0f55ec;
  color: white;
  text-transform: uppercase;
  padding: 10px 15px;
  width: fit-content;
  border-radius: 5px;
  outline: none;
  border: #0f55ec;
  margin-top: 10px;
}
.latest-post .description + div {
  display: flex;
  justify-content: center;
}

.popular-posts {
  margin: 10px;
}
.popular-posts > div > h2 {
  color: #0f55ec;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.popular-posts > div .post {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 8px;
  margin-bottom: 18px;
}
.popular-posts > div .post .image-wrapper {
  width: 100%;
}
.popular-posts > div .post .image-wrapper img {
  width: 100%;
  border-radius: 5px;
}
.popular-posts > div .post .category {
  top: 2px;
  position: relative;
  left: -138px;
  background: rgba(255, 193, 81, 0.8);
  padding: 3px;
  width: fit-content;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: white;
}
.popular-posts > div .post .title {
  margin-top: -22px;
}
.popular-posts > div .post .about-popular {
  justify-content: space-between;
}
.popular-posts > div .post .about-popular a {
  color: black;
}
.popular-posts > div .post .about-popular .date-and-views {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  margin-top: 10px;
  margin-right: 10px;
}

.subscribe {
  text-align: center;
  margin: 10px;
  margin-bottom: 35px;
  background: #f0eeee;
  padding: 25px 18px 18px 18px;
  border-radius: 6px;
}
.subscribe h2 {
  text-transform: uppercase;
  font-weight: bolder;
  color: black;
}
.subscribe h2 + p {
  font-size: 1.3rem;
  margin: 7px 0px;
}
.subscribe input, .subscribe button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0px;
  font-size: 1.3rem;
  padding: 12px 10px;
  border: none;
  outline: none;
  border-radius: 4px;
}
.subscribe button {
  text-transform: uppercase;
  background: #0f55ec;
  color: white;
  font-size: 0.9rem;
}

footer {
  margin-top: 40px;
  background: #FFC151;
  overflow: hidden;
}
footer .secondary-nav-and-credit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: #f8bc4b;
}
footer .secondary-nav-and-credit ul > li a {
  color: white;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
}
footer .secondary-nav-and-credit ul {
  display: flex;
  justify-content: space-around;
  width: 60vw;
  box-sizing: border-box;
}
footer .terms-conditions-and-copy-right {
  color: white;
}

@media only screen and (min-width: 769px) {
  .primary-nav .desktop {
    display: initial;
  }

  .social-media-section {
    padding: 10px 11vw;
    justify-content: center;
    background-color: #FFC151;
  }

  .main-social-media-links-container .desktop {
    display: initial;
  }
  .main-social-media-links-container .fa {
    color: white;
    font-size: 1.6rem;
    border-right: none;
    padding: 5px;
  }
  .main-social-media-links-container li > a {
    padding: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    scroll-padding-bottom: 5px;
  }
  .main-social-media-links-container li > a span {
    display: inline-block;
    border-bottom: 2px solid #FFC151;
    padding-bottom: 5px;
  }
  .main-social-media-links-container li > a:hover span {
    border-bottom: 2px solid white;
  }

  .primary-nav {
    background: white;
    padding: 11px 11vw;
  }
  .primary-nav .search-and-form {
    display: flex;
  }
  .primary-nav .search-and-form ul {
    margin-left: 10px;
  }
  .primary-nav .search-and-form i, .primary-nav .search-and-form input {
    font-size: 1.7rem;
  }
  .primary-nav .search-and-form input {
    background: #f8f6f6;
    width: 130px;
  }
  .primary-nav ul {
    display: flex;
    justify-content: space-between;
  }
  .primary-nav ul a {
    padding: 20px 15px;
    text-transform: uppercase;
    font-size: 1rem;
    color: #FFC151;
    font-weight: bold;
    transition: 0.6s;
  }
  .primary-nav ul a:hover {
    background: #FFC151;
    background: rgba(255, 193, 81, 0.6);
    color: white;
  }

  .sub-menu-control-desktop {
    position: relative;
  }

  .sub-menu-control-desktop:hover .menu-categories-desktop {
    display: block;
  }

  .menu-categories-desktop {
    display: none;
    position: absolute;
    top: 30px;
    left: 10px;
  }
  .menu-categories-desktop ul {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .menu-categories-desktop ul a {
    margin-bottom: 5px;
    padding: 5px 10px;
    display: block;
  }
  .menu-categories-desktop ul a:hover {
    background: #0f55ec;
  }

  .sliding-news {
    display: none;
  }

  .index {
    padding: 10px 11vw;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 50px;
  }

  .mobile {
    display: none;
  }

  .mobile-only {
    display: none;
  }
}
.categories {
  padding: 10px;
}
.categories .category {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
  font-size: 1.2rem;
  margin: 0px 10px 7px 10px;
  border-bottom: 1px dotted grey;
}
.categories .category span:nth-child(2) {
  padding: 2px 5px;
  background: #0f55ec;
  color: white;
}
.categories h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 1.8rem;
}
.categories ul {
  list-style-type: circle;
}

.desktop {
  display: none;
}

/*# sourceMappingURL=style-new.css.map */
