* {
  padding: 0;
  margin: 0;
}

.block {
  display: block;
}

.red {
  color: red;
}

.center-text {
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  padding: 0px 20px;
}

.active {
  background: rgba(255, 255, 255, 0.19);
  font-weight: bold;
  cursor: pointer;
}

.header {
  padding: 0px;
}

.banner {
  background: rgba(168, 121, 121, 0.02);
  background: white;
  height: 100%;
}
.banner #brand {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  height: 100%;
}

#welcome {
  display: none;
  background: rgba(168, 121, 121, 0.02);
}

.breaking-news-and-more #adverts {
  height: 36px;
  width: 100vw;
  background: #C9CFEF;
}

.the-search-and-more {
  margin-top: 26px;
}
.the-search-and-more .the-adverts {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #C9CFEF;
  width: 80vw;
  margin: 0px auto;
  height: 36px;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.the-search-and-more .the-adverts span {
  position: absolute;
  left: 33%;
}
.the-search-and-more .search {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.the-search-and-more .search button {
  padding: 10px 70px;
  background: white;
  border: 1px solid grey;
}

.news-detailed .image {
  width: 100%;
}

.primary-nav .toggle-nav {
  padding-left: 0px;
  background: #000E5C;
  padding-bottom: 6px;
}
.primary-nav .toggle-nav div {
  width: 100vw;
  background: #003FED;
  padding-top: 8px;
  margin-left: 0px;
}
.primary-nav .toggle-nav div img {
  margin-left: 20px;
}
.primary-nav nav {
  opacity: 0;
  height: 0px;
  transition: all 0.8s;
  background: #000E5C;
  position: relative;
  top: -2px;
  padding: 2px 0px 12px inherit;
}
.primary-nav nav a {
  color: white;
  text-transform: uppercase;
  font-size: 0.7rem;
}
.primary-nav nav ul {
  background: #000E5C;
}
.primary-nav nav ul li {
  padding-bottom: 4px;
}
.primary-nav nav .form-nav {
  padding-bottom: 10px;
}

.most-liked {
  margin-top: 35px;
}
.most-liked .image-wrapper .image {
  width: 100%;
  display: block;
  border-radius: 7px 7px 0px 0px;
}
.most-liked h3, .most-liked h4, .most-liked em {
  padding-left: 25px;
}
.most-liked h4 {
  text-transform: uppercase;
  font-size: 0.7rem;
  padding-top: 25px;
  padding-bottom: 7px;
}
.most-liked h3 {
  text-transform: capitalize;
  font-size: 1rem;
  margin-bottom: 3px;
}
.most-liked em {
  display: block;
  margin-bottom: 20px;
}

.liked-in-categories {
  margin-top: 30px;
}
.liked-in-categories .conainer .story {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 23vh;
  column-gap: 9px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.liked-in-categories .conainer .story .image-wrapper {
  overflow: scroll;
  border-radius: 7px;
}
.liked-in-categories .conainer .story .image-wrapper .image {
  width: 300px;
}
.liked-in-categories .conainer .story h3, .liked-in-categories .conainer .story h2 {
  font-size: 0.8rem;
}

.forms-section {
  margin-top: 80px;
}
.forms-section .container a {
  display: grid;
  width: 35vw;
  background: #ECF1F7;
  text-align: center;
  padding: 10px 0px;
  margin: 15px auto;
  border-radius: 50px;
  text-transform: uppercase;
  color: #070B7A;
}

.aside-home {
  display: none;
}

.article p {
  margin-bottom: 12px;
  line-height: 1.5rem;
}

.login-section {
  margin: 40px auto;
}
.login-section form {
  margin-bottom: 25px;
}
.login-section form .button {
  display: block;
  width: 100%;
  border-radius: 50px;
  padding: 8px 0px;
  background: #070B7A;
  color: white;
  text-transform: uppercase;
  border: 1px solid #070B7A;
  outline: none;
  box-shadow: 3px 6px 9px 3px rgba(128, 128, 128, 0.2);
}
.login-section form .form-group {
  color: rgba(81, 92, 111, 0.5);
  font-size: 0.9rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 6px 9px 3px rgba(128, 128, 128, 0.2);
  border-radius: 8px 8px 0px 0px;
  padding: 3px 5px 0px 5px;
  margin-bottom: 25px;
}
.login-section form .form-group:nth-child(2) {
  border-radius: 0px 0px 8px 8px;
}
.login-section form .form-group > div {
  margin: 10px 4px;
}
.login-section form .form-group > div input {
  padding: 6px;
  border: none;
  outline: none;
}
.login-section form .form-group > div:first-child {
  padding-top: 6px;
}
.login-section p {
  margin-bottom: 15px;
}

footer {
  margin-top: 20px;
}
footer .biz-links {
  background: #070B7A;
  display: flex;
  justify-content: space-between;
  padding: 10px initial 7px initial;
}
footer .biz-links a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.5rem;
  text-transform: uppercase;
}

@media (min-width: 810px) {
  .toggle-nav {
    display: none;
  }

  .primary-nav nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    opacity: 1;
  }
  .primary-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .primary-nav ul li {
    margin-right: 2vw;
    padding: 5px 10px;
  }
  .primary-nav ul li:hover {
    background: rgba(255, 255, 255, 0.19);
    font-weight: bold;
    cursor: pointer;
  }
  .primary-nav .form-nav {
    margin-top: 5px;
  }

  #welcome.container {
    display: flex;
    justify-content: center;
    padding-left: 200px;
    width: 40vw;
    font-size: 6vw;
    color: #000E5C;
  }

  #brand {
    background: white;
    width: 40vw;
    margin-left: 0px;
    color: #000E5C;
  }
  #brand img {
    width: 55px;
  }

  .container {
    padding: 0px 70px;
  }

  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner #brand {
    display: flex;
    align-items: center;
  }

  .main-section {
    display: grid;
    column-gap: 45px;
    grid-template-columns: 1.5fr 1fr;
  }
  .main-section .aside-home {
    display: block;
    margin-top: 38px;
    width: 100%;
  }
  .main-section .aside-home > h3 {
    text-align: center;
    padding: 10px 0px;
    background: #070EEB;
    color: white;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .main-section .news .latest-newz {
    margin-bottom: 25px;
    margin-left: 22px;
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    column-gap: 25px;
  }
  .main-section .news .latest-newz img {
    width: 100%;
    border-radius: 7px;
  }
  .main-section .news .latest-newz h2 {
    font-size: 0.9rem;
  }
  .main-section .news .latest-newz h3 {
    text-transform: uppercase;
    font-size: 0.7rem;
  }

  .forms-section {
    display: none;
  }

  .desktop-advert {
    margin-top: 80px;
    background: #000E5C;
    margin-left: 22px;
    box-sizing: border-box;
    padding: 30px 20px;
  }
  .desktop-advert .adverts-content {
    padding: 60px 0px;
    font-size: 5rem;
    color: #A4B2FF;
    text-align: center;
    background: #7A9FC1;
    font-weight: bolder;
    border-radius: 25px;
  }

  .the-search-and-more .the-adverts {
    display: none;
  }

  .liked-in-categories .conainer .story {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px;
    column-gap: 9px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .liked-in-categories .conainer .story .image-wrapper {
    overflow: scroll;
    border-radius: 7px;
  }
  .liked-in-categories .conainer .story .image-wrapper .image {
    width: 100%;
  }

  #for-registry {
    margin-top: 5px;
    background: red;
    padding-bottom: 8px;
  }
  #for-registry #register {
    padding: 5px;
    background: rgba(255, 255, 255, 0.27);
  }

  .news-detailed {
    margin: 0 auto;
    padding: 20px 21vw;
  }
  .news-detailed .image {
    width: 100%;
  }

  .login-section {
    border: 1px solid black;
    height: fit-content;
    border-radius: 6px;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  footer .biz-links {
    padding-top: 15px;
  }
  footer .biz-links a {
    font-size: 0.7rem;
  }
}

/*# sourceMappingURL=style.css.map */
