* {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Helvetica Neue", helvetica, arial, sans-serif;
  box-sizing: border-box;
}

.red {
  color: red;
}

.hide {
  display: none;
}

html {
  font-size: 10px;
  color: #636363;
  line-height: 1.7;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.top {
  display: none;
  z-index: 100;
  position: fixed;
  width: fit-content;
  bottom: 20px;
  left: 30px;
  background: red;
}

.block {
  display: block;
}

ul {
  list-style-type: none;
}

.center-text {
  text-align: center;
}

.sliding-news {
  display: flex;
  overflow: hidden;
}
.sliding-news .image-wrapper {
  max-height: 300px;
}
.sliding-news .image-wrapper img {
  width: 100vw;
}
.sliding-news .story-title {
  position: relative;
  top: -60px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}

.overlay {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 200;
  display: flex;
}
.overlay .layer {
  background: #ffffff;
}
.overlay .layer-1 {
  flex: 1;
}
.overlay .layer-2 {
  flex: 1;
}
.overlay .layer-3 {
  flex: 1;
}

.dnpay {
  color: #003FED;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 220;
  justify-content: center;
  align-items: center;
  display: flex;
  word-wrap: wrap;
}

.social-media-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 7px 15px;
}
.social-media-section .login {
  width: fit-content;
  padding: 5px 15px;
  text-align: center;
  color: white;
  background: #0f55ec;
  margin-left: 10px;
  border-radius: 3px;
}

.main-social-media-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-social-media-links-container .fa {
  color: #0f55ec;
  font-size: 1.3rem;
  border-right: 1px solid #0f55ec;
  padding: 5px 15px;
}

.top-banner {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  background: white;
}

.logo-and-caption {
  text-align: center;
  margin: 120px 0px 40px 0px;
  color: #535252;
}
.logo-and-caption .brand-name {
  text-transform: uppercase;
  font-size: 4rem;
  padding: 7px 20px;
  line-height: 1.4;
  color: #d18b08;
}
.logo-and-caption .sub-caption {
  text-transform: uppercase;
  font-style: italic;
  font-size: 0.9rem;
}

.primary-nav {
  background: #f6f6f6;
  background: #0f55ec;
  font-size: 1.3rem;
  padding: 10px 15px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary-nav ul {
  display: none;
}
.primary-nav input {
  border: none;
  padding: 6px;
  width: 70px;
  border-radius: 6px;
  outline: none;
  background: white;
}
.primary-nav .toggle-nav-main {
  padding: 5px;
}
.primary-nav .toggle-nav-main:hover {
  box-shadow: -2px 2px 1px 3px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.primary-nav .toggle-nav-main > div {
  padding: 1.5px;
  background: white;
  margin-bottom: 3px;
  border-radius: 10px;
  width: 20px;
}

.primary-nav-mobile-container {
  margin-top: 87px;
  width: 100vw;
  border: 1px solid #d4d4d4;
  border-right: none;
  padding: 10px 15px 10px 0;
  box-shadow: 0px 3px 2px #9c9b9b;
}
.primary-nav-mobile-container .primary-nav-mobile a {
  text-transform: uppercase;
  padding: 1px 15px;
  display: block;
  color: #d18b08;
  font-weight: bold;
}

.toggle-and-home {
  display: flex;
  align-items: center;
}
.toggle-and-home i {
  font-size: 2.4rem;
  color: #d6d5d5;
}
.toggle-and-home i:hover {
  color: white;
}

.breaking-news {
  background: rgba(246, 244, 244, 0.2);
  width: 80vw;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
.breaking-news img {
  width: 60px;
  border-radius: 10px;
}

.marquee-element {
  height: 100%;
  display: flex;
  animation: scrolling 20s linear infinite;
}

.marquee-element:hover {
  animation-play-state: paused;
}

@keyframes scrolling {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-150vw);
  }
}
.marquee-element > a {
  width: 30vw;
  flex-shrink: 0;
  margin: 5px;
  /* background: grey; */
  padding: 10px;
  display: flex;
  align-items: center;
}
.marquee-element > a div {
  margin-left: 5px;
}

@media (max-width: 657px) {
  .breaking-news .marquee-element > a {
    width: 80vw;
  }

  .marquee-element {
    animation: scrolling 20s linear infinite;
  }

  @keyframes scrolling {
    0% {
      transform: translateX(0vw);
    }
    100% {
      transform: translateX(-400vw);
    }
  }
}
.latest-post {
  margin: 10px 10px 50px 10px;
  padding: 20px 10px;
  box-shadow: 3px 3px 1px 4px rgba(240, 239, 239, 0.1);
}
.latest-post .header .category {
  text-transform: uppercase;
  color: #0f55ec;
  margin-bottom: 15px;
  font-size: 1.2rem;
}
.latest-post .header .title {
  font-size: 2.8rem;
  line-height: 1.4;
  color: black;
}
.latest-post .date-and-views, .latest-post .comments-and-share {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  margin: 10px;
  text-transform: uppercase;
  font-style: italic;
}
.latest-post .date-and-views a i, .latest-post .comments-and-share a i {
  font-size: 1.3rem;
}
.latest-post .image-wrapper {
  width: 100%;
  margin-bottom: 15px;
}
.latest-post .image-wrapper img {
  width: 100%;
  border-radius: 6px;
}
.latest-post .description {
  font-size: 1.6rem;
}
.latest-post .continue-reading {
  background: #0f55ec;
  color: white;
  text-transform: uppercase;
  padding: 10px 15px;
  width: fit-content;
  border-radius: 5px;
  outline: none;
  border: #0f55ec;
  margin-top: 10px;
}
.latest-post .description + div {
  display: flex;
  justify-content: center;
}

.popular-posts {
  margin: 10px;
  box-shadow: 2px 2px 2px 3px rgba(221, 218, 218, 0.3);
  padding: 10px;
  border-radius: 4px;
}
.popular-posts > div > h2 {
  color: #0f55ec;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.popular-posts > div .post {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 8px;
  margin-bottom: 18px;
}
.popular-posts > div .post .image-wrapper {
  width: 100%;
}
.popular-posts > div .post .image-wrapper img {
  width: 100%;
  border-radius: 5px;
}
.popular-posts > div .post .category {
  top: 2px;
  position: relative;
  left: -128px;
  background: rgba(255, 193, 81, 0.8);
  padding: 2px;
  width: fit-content;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: white;
}
.popular-posts > div .post .title {
  margin-top: -22px;
}
.popular-posts > div .post .about-popular {
  justify-content: space-between;
}
.popular-posts > div .post .about-popular a {
  color: black;
}
.popular-posts > div .post .about-popular .date-and-views {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  margin-top: 10px;
  margin-right: 10px;
}

.subscribe {
  text-align: center;
  margin: 10px;
  margin-bottom: 35px;
  background: #f0eeee;
  padding: 25px 18px 18px 18px;
  border-radius: 6px;
}
.subscribe h2 {
  text-transform: uppercase;
  font-weight: bolder;
  color: black;
}
.subscribe h2 + p {
  font-size: 1.3rem;
  margin: 7px 0px;
}
.subscribe input, .subscribe button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0px;
  font-size: 1.3rem;
  padding: 12px 10px;
  border: none;
  outline: none;
  border-radius: 4px;
}
.subscribe button {
  text-transform: uppercase;
  background: #0f55ec;
  color: white;
  font-size: 0.9rem;
}

.news-by-cat {
  min-height: 68vh;
}

.category-contents {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.category-contents a {
  display: block;
  background: #0f55ec;
  padding: 5px 10px;
  color: white;
  margin-top: 10px;
  width: fit-content;
}
.category-contents .title {
  color: Black;
  line-height: 1.5;
  margin-bottom: 3px;
  margin-top: 12px;
}
.category-contents .date {
  margin-bottom: 12px;
}
.category-contents > div {
  padding: 5px;
  display: block;
  margin: 10px 5px;
  box-shadow: 2px 2px 1px #ebe8e8;
  width: 250px;
}
.category-contents > div > div {
  width: 100%;
  margin-top: 8px;
}
.category-contents > div > div img {
  width: 100%;
  border-radius: 6px;
}

footer {
  background: #d18b08;
  overflow: hidden;
}
footer .secondary-nav-and-credit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: #d18b08;
}
footer .secondary-nav-and-credit ul > li a {
  color: white;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
}
footer .secondary-nav-and-credit ul {
  display: flex;
  justify-content: space-around;
  width: 60vw;
  box-sizing: border-box;
}
footer .terms-conditions-and-copy-right {
  color: white;
}

.the-post {
  margin-top: 20px;
  box-shadow: 2px 2px 2px 3px rgba(221, 218, 218, 0.3);
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.the-post .title, .the-post .category, .the-post .date-and-views, .the-post .comments-and-share, .the-post .navigation, .the-post .comment {
  padding: 0 10px;
}
.the-post .category {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.the-post .image-wrapper {
  width: 100%;
  margin-top: 12px;
}
.the-post .image-wrapper img {
  width: 100%;
}
.the-post .title {
  font-size: 2.8rem;
  margin-bottom: 15px;
}
.the-post article {
  font-size: 1.6rem;
  padding: 15px;
  margin-bottom: 15px;
}
.the-post article img {
  max-width: 100%;
}
.the-post .date-and-views, .the-post .comments-and-share, .the-post .navigation {
  display: flex;
  justify-content: space-between;
}
.the-post .comments-and-share {
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.the-post .comments-and-share i {
  font-size: 1.6rem;
}
.the-post .comments-and-share .fa-facebook {
  color: #3b5998;
}
.the-post .comments-and-share .fa-whatsapp {
  color: #25d366;
}
.the-post .comments-and-share .fa-twitter {
  color: #1da1f2;
}
.the-post .comments-and-share .fa-instagram {
  color: #c13584;
}
.the-post .comments-and-share .fa-linkedin {
  color: #0077b5;
}
.the-post .comment {
  width: 100%;
  box-sizing: border-box;
}
.the-post .comment form {
  border: 1px solid grey;
  padding: 15px;
}
.the-post .comment textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
}
.the-post .comment textarea:focus {
  border: 1px solid #0f55ec;
}
.the-post .comment .comment-action-wrapper {
  margin-top: 5px;
}
.the-post .comment .comment-action-wrapper > div:first-child {
  display: flex;
  align-items: center;
}
.the-post .comment .comment-action-wrapper > div:first-child div {
  margin-left: 10px;
}
.the-post .comment .comment-action-wrapper > div:first-child div input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #f0efef;
}
.the-post .comment .form-controls {
  margin-top: 8px;
  padding: 12px 5px;
  background: #f0eded;
}
.the-post .comment .form-controls button {
  padding: 9px 14px;
  border-radius: 4px;
  outline: none;
  margin-right: 10px;
  border: 1px solid grey;
  cursor: pointer;
}
.the-post .comment .form-controls button:first-child {
  background: #0f55ec;
  border: 1px solid #0f55ec;
  color: white;
}
.the-post .comment .form-controls button:last-child {
  border: 1px solid #FFC151;
}
.the-post .comments {
  padding: 10px;
  font-size: 1.3rem;
}
.the-post a.controller {
  margin-bottom: 10px;
}
.the-post .a-comment {
  display: grid;
  grid-template-columns: 47px auto;
  column-gap: 2px;
  padding: 10px;
  margin-bottom: 7px;
}
.the-post .a-comment em {
  font-size: 1rem;
}
.the-post .user {
  padding: 8px;
  background: #f0eded;
  width: fit-content;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  text-align: center;
  overflow: hidden;
}
.the-post .user i {
  font-size: 3.5rem;
}
.the-post .edit-comment {
  padding: 10px;
  width: fit-content;
  height: fit-content;
  margin-top: 12px;
  margin-left: 45px;
  background: #0f55ec;
  color: white;
  border-radius: 3px;
}
.the-post .edit-comment:hover {
  cursor: pointer;
  background: rgba(15, 85, 236, 0.502);
}

.registeration {
  margin: 120px auto 20px auto;
  display: flex;
  justify-content: center;
}
.registeration > div {
  width: 90vw;
}
.registeration label {
  display: none;
}
.registeration input:not([type=checkbox]) {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.6rem;
  padding: 6px;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
}
.registeration .form-group {
  font-size: 1.4rem;
  padding: 10px;
  width: 90%;
  margin: 10px auto;
  position: relative;
}
.registeration .error-message {
  position: absolute;
  font-size: 1rem;
  color: red;
  padding-left: 15px;
  visibility: hidden;
}
.registeration .button-control {
  margin-bottom: 15px;
  padding: 15px 30px;
}
.registeration .button-control button {
  padding: 8px 20px;
  background: #0f55ec;
  color: white;
  text-transform: uppercase;
  border: 1px solid #0f55ec;
  border-radius: 2px;
}
.registeration .button-control button:hover {
  cursor: pointer;
  background: #86acff;
}
.registeration .divider {
  border: 0.5px solid #d4d3d3;
  margin: 0px 15px 15px 15px;
}
.registeration .create-acct-others {
  font-size: 1.4rem;
}
.registeration .create-acct-others p {
  margin: 7px 15px 2px 15px;
}
.registeration .title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 2.8rem;
}

.coupon-page {
  min-height: 86vh;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
}
.coupon-page .modal-container {
  width: 100vw;
  min-height: 170vh;
  background: rgba(15, 85, 236, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
  display: flex;
  justify-content: center;
}
.coupon-page .modal {
  width: 80vw;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(250, 249, 249, 0.3);
  padding-bottom: 15px;
  height: fit-content;
  transform: translateY(60%);
}
.coupon-page .modal footer {
  display: none;
}
.coupon-page .modal main, .coupon-page .modal header, .coupon-page .modal footer {
  padding: 10px;
}
.coupon-page .modal main > p {
  font-size: 1.6rem;
}
.coupon-page .modal header {
  text-align: center;
  border-bottom: 1px solid lightgray;
  background: #f1f0f0;
  padding: 15px;
}
.coupon-page .modal header h1 {
  text-transform: uppercase;
  color: #0f55ec;
  padding-bottom: 15px;
}
.coupon-page .modal header h2 {
  color: #8b8989;
}
.coupon-page .modal header p {
  font-size: 1.5rem;
}
.coupon-page .modal .navigation {
  text-align: right;
}
.coupon-page .modal .navigation i {
  font-size: 2.5rem;
  padding: 7px 10px;
  font-weight: lighter;
  color: #e4e1e1;
  width: fit-content;
}
.coupon-page .modal .navigation i:hover {
  color: black;
  cursor: pointer;
}
.coupon-page .modal form {
  font-size: 1.6rem;
  color: black;
}
.coupon-page .modal form .coupon-input-wrapper {
  position: relative;
}
.coupon-page .modal form .coupon-input-wrapper i {
  position: absolute;
  top: 46px;
  right: 15px;
  visibility: hidden;
}
.coupon-page .modal form div {
  padding: 10px 30px;
}
.coupon-page .modal form p {
  font-size: 1.3rem;
  text-align: center;
}
.coupon-page .modal form p a {
  color: red;
  text-decoration: underline;
}
.coupon-page .modal form label {
  display: block;
}
.coupon-page .modal form input {
  height: 1.7rem;
  width: 100%;
  outline: none;
  border: 0.5px solid lightgray;
  padding: 12px;
}
.coupon-page .modal form .controller {
  display: flex;
  justify-content: space-between;
  background: #f1f0f0;
  border-radius: 5px;
  margin-top: 15px;
}
.coupon-page .modal form .controller button {
  width: 90px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.coupon-page .modal form .controller button:first-child {
  background: #0f55ec;
  border: 1px solid #0f55ec;
  color: white;
}
.coupon-page .modal form .controller button:first-child:hover {
  background: #FFC151;
  border: none;
}
.coupon-page .modal form .controller button:last-child {
  border: 1px solid #FFC151;
  background: white;
}
.coupon-page .modal form .controller button:last-child:hover {
  border: 1px solid white;
  background: #f1eded;
}

@media only screen and (min-width: 769px) {
  .coupon-page .modal-container .modal {
    width: 60vw;
  }

  .registration-wrapper {
    background: #0f55ec;
    min-height: 100vh;
    padding: 50px;
    margin: 0px;
  }

  .registeration {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 140px auto 30px auto;
    padding: 20px 15px;
    width: 60vw;
    box-shadow: 2px 2px 3px 10px rgba(238, 237, 237, 0.5);
    border-radius: 8px;
    background: white;
  }
  .registeration form input {
    font-size: 1.3rem !important;
  }
  .registeration > div {
    width: auto;
    border-left: 1px solid grey;
  }
  .registeration > aside {
    background: url(../images/register2.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .primary-nav .desktop {
    display: initial;
  }

  .social-media-section {
    padding: 10px 11vw;
    justify-content: center;
    background-color: #d18b08;
  }

  .main-social-media-links-container .desktop {
    display: initial;
  }
  .main-social-media-links-container .fa {
    color: white;
    font-size: 1.6rem;
    border-right: none;
    padding: 5px;
  }
  .main-social-media-links-container li > a {
    padding: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    scroll-padding-bottom: 5px;
  }
  .main-social-media-links-container li > a span {
    display: inline-block;
    border-bottom: 2px solid #d18b08;
    padding-bottom: 5px;
  }
  .main-social-media-links-container li > a:hover span {
    border-bottom: 2px solid white;
  }

  .primary-nav {
    background: white;
    padding: 11px 11vw;
    box-shadow: 0px 2px 2px rgba(226, 224, 224, 0.5);
  }
  .primary-nav .search-and-form {
    display: flex;
  }
  .primary-nav .search-and-form ul {
    margin-left: 10px;
  }
  .primary-nav .search-and-form i, .primary-nav .search-and-form input {
    font-size: 1.7rem;
  }
  .primary-nav .search-and-form input {
    background: #f8f6f6;
    width: 130px;
  }
  .primary-nav ul {
    display: flex;
    justify-content: space-between;
  }
  .primary-nav ul a {
    padding: 20px 15px;
    text-transform: uppercase;
    font-size: 1rem;
    color: #d18b08;
    font-weight: bold;
    transition: 0.6s;
  }
  .primary-nav ul a:hover {
    background: #d18b08;
    background: #d18b08;
    color: white;
  }

  .sub-menu-control-desktop {
    position: relative;
  }

  .sub-menu-control-desktop:hover .menu-categories-desktop {
    display: block;
  }

  .menu-categories-desktop {
    display: none;
    position: absolute;
    top: 37px;
    left: 0;
  }
  .menu-categories-desktop ul {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .menu-categories-desktop ul a {
    margin-bottom: 5px;
    padding: 5px 10px;
    display: block;
  }
  .menu-categories-desktop ul a:hover {
    background: #0f55ec;
  }

  .sliding-news {
    display: none;
  }

  .index {
    padding: 10px 11vw;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 50px;
  }

  .mobile {
    display: none;
  }

  .mobile-only {
    display: none;
  }
}
#admin-form {
  background-color: white;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#admin-form .admin-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#admin-form section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 300px;
  min-height: 250px;
  background: #1b1b1b;
  background: white;
  box-shadow: 3px 3px 4px 3px rgba(197, 197, 197, 0.3);
  border-radius: 5px;
}
#admin-form section #admin-options {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
#admin-form .form-section {
  width: 90%;
  padding: 10px;
}
#admin-form .form-section form {
  padding-bottom: 20px;
}
#admin-form .form-section form div > div {
  background: white;
}
#admin-form .form-section form div > div input {
  background: whitesmoke;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  border: none;
}
#admin-form .form-section form button {
  text-transform: uppercase;
  background: #0f55ec;
  outline: none;
  border: #0f55ec;
  color: white;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.categories {
  margin: 10px;
  margin-top: 30px;
  box-shadow: 2px 2px 2px 3px rgba(221, 218, 218, 0.3);
  padding: 10px;
  border-radius: 4px;
}
.categories .category {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
  font-size: 1.2rem;
  margin: 0px 10px 7px 10px;
  border-bottom: 1px dotted grey;
}
.categories .category span:nth-child(2) {
  padding: 2px 5px;
  background: #0f55ec;
  color: white;
}
.categories h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 1.8rem;
}
.categories ul {
  list-style-type: circle;
}

.desktop {
  display: none;
}

/*# sourceMappingURL=style-new.css.map */
