* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.desktop {
  display: none;
}

.green {
  color: green;
}

.hide {
  display: none;
}

.full {
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.block {
  display: block;
}

.red {
  color: red;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  padding: 0px 20px;
}

.active {
  background: rgba(255, 255, 255, 0.19);
  font-weight: bold;
  cursor: pointer;
}

.sign-up {
  margin-bottom: 30px;
}

.padd-more {
  padding: 10px 43px;
  text-align: left;
  font-size: 0.9rem;
}

.the-second {
  position: relative;
}

.have-acct {
  margin-bottom: 12px;
  padding-bottom: 16px;
}
.have-acct a {
  color: red;
}

.register-section button {
  border-radius: 50px;
  padding: 10px 35px;
  text-transform: uppercase;
  background: #070B7A;
  margin: 10px auto 15px auto;
  color: white;
  font-weight: bold;
  border: #070B7A;
}
.register-section .divider {
  border: 1px solid rgba(128, 128, 128, 0.5);
  margin-bottom: 13px;
}
.register-section section + .form-group {
  margin: 40px 10px;
}
.register-section section + .form-group input {
  margin-right: 6px;
}
.register-section section {
  border: 1px solid rgba(128, 128, 128, 0.4);
  padding: 15px;
}
.register-section section .form-group {
  margin-bottom: 8px;
}
.register-section section .form-group input {
  border-radius: 6px;
  padding: 5px;
  margin-left: 7px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  box-shadow: 3px 2px 2px rgba(128, 128, 128, 0.2);
}
.register-section section .form-group label {
  margin-bottom: 4px;
  font-weight: bold;
}
.register-section section .form-group input, .register-section section .form-group label {
  width: 100%;
  box-sizing: border-box;
}

.vendors-content {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.vendors-content h2 {
  margin-bottom: 15px;
}
.vendors-content > div {
  background: #DCDFF3;
  padding: 40px 40px 60px 40px;
}
.vendors-content > div table {
  text-transform: uppercase;
  background: white;
  border-collapse: collapse;
}
.vendors-content > div table td, .vendors-content > div table th {
  padding: 7px 40px;
  border-collapse: collapse;
}
.vendors-content > div thead {
  background: #0017E6;
  color: white;
  border-collapse: collapse;
}
.vendors-content > div tbody tr:nth-child(even) {
  background: rgba(0, 23, 230, 0.1);
}

.login-section {
  margin: 40px auto;
}
.login-section form {
  margin-bottom: 25px;
}
.login-section form .button {
  display: block;
  width: 100%;
  border-radius: 50px;
  padding: 8px 0px;
  background: #070B7A;
  color: white;
  text-transform: uppercase;
  border: 1px solid #070B7A;
  outline: none;
  box-shadow: 3px 6px 9px 3px rgba(128, 128, 128, 0.2);
}
.login-section form .form-group {
  color: rgba(81, 92, 111, 0.5);
  font-size: 0.9rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 3px 6px 9px 3px rgba(128, 128, 128, 0.2);
  border-radius: 8px 8px 0px 0px;
  padding: 3px 5px 0px 5px;
  margin-bottom: 25px;
}
.login-section form .form-group:nth-child(2) {
  border-radius: 0px 0px 8px 8px;
}
.login-section form .form-group > div {
  margin: 10px 4px;
}
.login-section form .form-group > div input {
  padding: 6px;
  border: none;
  outline: none;
}
.login-section form .form-group > div:first-child {
  padding-top: 6px;
}
.login-section p {
  margin-bottom: 15px;
}

.news-by-cat {
  min-height: 68vh;
}

.category-contents {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.category-contents a {
  display: block;
  background: #003FED;
  padding: 5px 10px;
  color: white;
  margin-top: 10px;
  width: fit-content;
}
.category-contents > div {
  padding: 5px;
  display: block;
  margin: 10px 5px;
  width: 250px;
}
.category-contents > div > div {
  width: 100%;
  margin-top: 8px;
}
.category-contents > div > div img {
  width: 100%;
  border-radius: 6px;
}

.news-detailed h5 {
  margin-bottom: 12px;
  text-transform: uppercase;
}
.news-detailed .article {
  margin-top: 20px;
}
.news-detailed .article p {
  margin-bottom: 12px;
  line-height: 1.6rem;
}

.social-media-share {
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.3);
}
.social-media-share > div {
  display: flex;
}
.social-media-share > div div {
  margin-left: 7px;
}
.social-media-share a {
  transition: 1s;
}
.social-media-share a :hover {
  transform: scale(1.2);
}
.social-media-share a .fa-facebook {
  color: #3b5998;
}
.social-media-share a .fa-whatsapp {
  color: #25d366;
}
.social-media-share a .fa-twitter {
  color: #1da1f2;
}
.social-media-share a .fa-instagram {
  color: #c13584;
}
.social-media-share a .fa-linkedin {
  color: #0077b5;
}
.social-media-share a i {
  font-size: 1.6rem;
}

.theComment {
  margin-bottom: 12px;
}

.reviews {
  padding: 7px;
  margin-bottom: 10px;
  border: 1px solid #ddd8d8;
}

.more-details {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 60px);
  column-gap: 10px;
}
.more-details img {
  cursor: pointer;
}

.news-detailed .image {
  width: 100%;
}

.comments {
  padding: 10px;
  box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.3);
}
.comments form > div {
  margin-bottom: 15px;
  margin-top: 15px;
}
.comments form > div input, .comments form > div textarea {
  padding: 5px;
  box-sizing: border-box;
  outline: none;
}
.comments form > div input {
  border: none;
  border-bottom: 1px solid grey;
}
.comments form button {
  padding: 10px;
  background: #003FED;
  color: white;
  text-transform: uppercase;
  font-size: 0.7rem;
  border: #003FED;
  border-radius: 4px;
}

.detailed {
  background: rgba(128, 128, 128, 0.2);
}

.news-detailed {
  padding: 12px;
  background: white;
}
.news-detailed h1 {
  font-size: 1.8rem;
  margin-bottom: 7px;
}

.admin-nav {
  display: none;
}

#dashboard-main {
  background: white;
  width: 100vw;
  box-sizing: border-box;
}
#dashboard-main .toggle-close {
  margin-bottom: 30px;
  text-align: right;
  margin-right: 20px;
  font-size: 2rem;
  cursor: pointer;
}
#dashboard-main header {
  box-shadow: 0px 2px 1px rgba(128, 128, 128, 0.2);
  border: 0px;
  margin-bottom: 30px;
}
#dashboard-main .toggle-nav2 {
  padding: 5px;
  width: 40px;
  cursor: pointer;
  box-shadow: 3px 3px 4px rgba(255, 255, 255, 0.4);
}
#dashboard-main .toggle-nav2 div {
  padding: 2px;
  border-radius: 50px;
  background: rgba(0, 0, 255, 0.7);
  margin: 4px;
  width: 30px;
}
#dashboard-main .toggle-nav2 div:last-child {
  width: 21px;
}
#dashboard-main nav {
  font-size: 0.8rem;
  background: white;
  height: 100vh;
  box-shadow: 2px 0px 2px rgba(128, 128, 128, 0.2);
  padding-top: 50px;
  color: rgba(0, 0, 255, 0.4);
  position: fixed;
  top: 40px;
  z-index: 10;
}
#dashboard-main nav > ul > li {
  margin-left: 15px;
  margin-right: 20px;
  margin-bottom: 30px;
}
#dashboard-main nav > ul > li ul li {
  padding-left: 20px;
}
#dashboard-main nav > ul > li ul li a {
  margin-bottom: 10px;
  display: block;
  padding: 10px;
}
#dashboard-main nav > ul > li > a {
  padding: 10px;
  background: rgba(230, 227, 227, 0.1);
  width: 150px;
  display: block;
  text-transform: uppercase;
}
#dashboard-main nav > ul > li > a span {
  margin-left: 5px;
  padding: 4px 10px;
  background: blue;
  border-radius: 6px;
  color: white;
}
#dashboard-main #logout {
  padding: 5px 10px;
  position: fixed;
  margin-top: 10px;
  margin-right: 7px;
  right: 0px;
  z-index: 10;
}
#dashboard-main .admin-posts-dashboard input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 8px;
}
#dashboard-main #save-and-preview {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}
#dashboard-main #save-and-preview button {
  padding: 10px 15px;
  width: 18vw;
  text-align: center;
  text-transform: uppercase;
  background-color: #003FED;
  color: white;
  border: #003FED;
  outline: none;
  border-radius: 5px;
}
#dashboard-main #new-post-title {
  border: none;
  outline: none;
  width: 100%;
  font-size: 27px;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 20px;
}
#dashboard-main #category {
  border: none;
  outline: none;
  width: 100%;
  font-size: 20px;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.all-post-all {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: rgba(32, 123, 243, 0.3);
  min-height: 100vh;
  padding-top: 20px;
}
.charts > div {
  width: 300px;
  background: white;
  margin-bottom: 10px;
}
.charts > div:first-child {
  background: rgba(32, 123, 243, 0);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}
.charts > div:first-child > div {
  background: white;
  box-shadow: 3px 3px 2px rgba(32, 123, 243, 0.4);
  border-radius: 6px;
  padding: 10px;
}
.charts > div:first-child > div div {
  margin-bottom: 9px;
}
.charts > div:first-child > div em, .charts > div:first-child > div span {
  margin-top: 5px;
  font-size: 0.8rem;
}

.all-posts {
  min-height: 84vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.all-posts .table-wrapper {
  background: rgba(32, 123, 243, 0.3);
  padding: 15px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}
.all-posts .table-wrapper table {
  background: white;
  padding: 20px;
  border-collapse: collapse;
}
.all-posts .table-wrapper table .update {
  padding: 10px 1px;
}
.all-posts .table-wrapper table .update a[title=Edit] {
  color: green;
}
.all-posts .table-wrapper table .update a[title=Delete] {
  color: red;
}
.all-posts .table-wrapper table .update a {
  padding: 5px 6px;
  border-radius: 5px;
}
.all-posts .table-wrapper table .update a:hover {
  background: white;
  box-shadow: 3px 3px 2px rgba(230, 229, 229, 0.2);
}
.all-posts .table-wrapper table thead {
  background: rgba(32, 123, 243, 0.5);
  color: white;
}
.all-posts .table-wrapper table thead th {
  padding: 10px;
  background: rgba(32, 123, 243, 0.5);
}
.all-posts .table-wrapper table tbody tr:nth-child(even) {
  background: rgba(32, 123, 243, 0.3);
  background: rgba(240, 239, 239, 0.8);
}
.all-posts .table-wrapper table tbody a {
  color: black;
}
.all-posts .table-wrapper table td {
  padding: 10px 15px;
}

#admin-form {
  background-color: white;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#admin-form .admin-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#admin-form section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 300px;
  min-height: 250px;
  background: #1b1b1b;
  background: white;
  box-shadow: 3px 3px 4px 3px rgba(197, 197, 197, 0.3);
  border-radius: 5px;
}
#admin-form section #admin-options {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
#admin-form .form-section {
  width: 90%;
  padding: 10px;
}
#admin-form .form-section form {
  padding-bottom: 20px;
}
#admin-form .form-section form div > div {
  background: white;
}
#admin-form .form-section form div > div input {
  background: whitesmoke;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  border: none;
}
#admin-form .form-section form button {
  text-transform: uppercase;
  background: #003FED;
  outline: none;
  border: #003FED;
  color: white;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

footer {
  margin-top: 20px;
}
footer .biz-links {
  background: #070B7A;
  display: flex;
  justify-content: space-between;
  padding: 10px initial 7px initial;
}
footer .biz-links a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.5rem;
  text-transform: uppercase;
}

.header {
  padding: 0px;
}

.banner {
  background: rgba(168, 121, 121, 0.02);
  background: white;
  height: 100%;
}
.banner #brand {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  height: 100%;
}

#welcome {
  display: none;
  background: rgba(168, 121, 121, 0.02);
}

.breaking-news-and-more #adverts {
  height: 36px;
  width: 100vw;
  background: #C9CFEF;
}

.the-search-and-more {
  margin-top: 26px;
}
.the-search-and-more .the-adverts {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #C9CFEF;
  width: 80vw;
  margin: 0px auto;
  height: 36px;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.the-search-and-more .the-adverts span {
  position: absolute;
  left: 33%;
}
.the-search-and-more .search {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.the-search-and-more .search button {
  padding: 10px 70px;
  background: white;
  border: 1px solid grey;
}

.primary-nav .toggle-nav {
  padding-left: 0px;
  background: #000E5C;
  padding-bottom: 6px;
}
.primary-nav .toggle-nav div {
  width: 100vw;
  background: #003FED;
  padding-top: 8px;
  margin-left: 0px;
}
.primary-nav .toggle-nav div img {
  margin-left: 20px;
}
.primary-nav nav {
  display: none;
  opacity: 0;
  height: 0px;
  transition: all 0.8s;
  background: #000E5C;
  position: relative;
  top: -2px;
  padding: 2px 0px 12px inherit;
}
.primary-nav nav #sep1 {
  display: flex;
  justify-content: space-between;
}
.primary-nav nav #sep1 #left-it {
  height: 14px;
}
.primary-nav nav #sub-cat1 {
  display: none;
  margin-left: 30px;
}
.primary-nav nav a {
  color: white;
  text-transform: uppercase;
  font-size: 0.7rem;
}
.primary-nav nav ul {
  background: #000E5C;
}
.primary-nav nav ul li {
  padding-bottom: 4px;
}
.primary-nav nav .form-nav {
  padding-bottom: 10px;
}

.most-liked {
  margin-top: 35px;
}
.most-liked .image-wrapper .image {
  width: 100%;
  display: block;
  border-radius: 7px 7px 0px 0px;
}
.most-liked h3, .most-liked h4, .most-liked em, .most-liked .more-details {
  padding-left: 25px;
}
.most-liked h4 {
  text-transform: uppercase;
  font-size: 0.7rem;
  padding-top: 25px;
  padding-bottom: 7px;
}
.most-liked h3 {
  text-transform: capitalize;
  font-size: 1rem;
  margin-bottom: 3px;
}
.most-liked em {
  display: block;
  margin-bottom: 5px;
}

.liked-in-categories {
  margin-top: 30px;
}
.liked-in-categories .post-card > div {
  text-decoration: none;
}
.liked-in-categories .conainer .story {
  column-gap: 9px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.liked-in-categories .conainer .story h3, .liked-in-categories .conainer .story h2 {
  font-size: 0.8rem;
}

.forms-section {
  margin-top: 80px;
}
.forms-section .container a {
  display: grid;
  width: 35vw;
  background: #ECF1F7;
  text-align: center;
  padding: 10px 0px;
  margin: 15px auto;
  border-radius: 50px;
  text-transform: uppercase;
  color: #070B7A;
}

.aside-home {
  display: none;
}

@media (min-width: 810px) {
  .admin-posts-dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  .all-posts .table-wrapper table td {
    font-size: 0.7rem;
  }

  .admin-nav {
    display: block;
  }

  #dashboard-main .toggle-close {
    display: none;
  }

  .charts {
    font-size: 1.7em;
  }
  .charts > div {
    width: 600px;
    height: fit-content;
  }
  .charts > div:first-child > div em, .charts > div:first-child > div span {
    font-size: 1.5rem;
  }

  .register-section {
    margin-left: 16%;
  }
  .register-section button {
    padding: 7px 100px;
  }
  .register-section .padd-second {
    padding: 10px 125px;
  }
  .register-section .padd-first {
    text-align: center;
  }

  .social-media-share {
    background: white;
    display: flex;
    flex-direction: column;
    transform: translateY(-70%);
    padding: 10px;
    position: fixed;
    width: fit-content;
    left: 0px;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  .social-media-share a {
    margin-bottom: 13px;
  }

  .toggle-nav {
    display: none;
  }

  .primary-nav nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    flex-wrap: wrap;
    opacity: 1;
  }
  .primary-nav nav > ul > li:hover #sub-cat1 {
    display: block;
    margin-top: 7px;
    margin-left: -10px;
    position: absolute;
  }
  .primary-nav nav > ul > li:hover #sub-cat1 ul {
    display: block;
  }
  .primary-nav nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .primary-nav nav ul #sub-cat1 {
    display: none;
  }
  .primary-nav nav ul #sub-cat1 a {
    color: white;
  }
  .primary-nav nav ul li {
    margin-right: 2vw;
    padding: 5px 10px;
    color: white;
  }
  .primary-nav nav ul li:hover {
    background: rgba(255, 255, 255, 0.19);
    font-weight: bold;
    cursor: pointer;
  }
  .primary-nav .form-nav {
    margin-top: 5px;
  }

  #welcome.container {
    display: flex;
    justify-content: center;
    padding-left: 200px;
    width: 40vw;
    font-size: 6vw;
    color: #000E5C;
  }

  #brand {
    background: white;
    width: 40vw;
    margin-left: 0px;
    color: #000E5C;
  }
  #brand img {
    width: 55px;
  }

  .container {
    padding: 0px 70px;
  }

  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner #brand {
    display: flex;
    align-items: center;
  }

  .main-section {
    display: grid;
    column-gap: 45px;
    grid-template-columns: 1.5fr 1fr;
  }
  .main-section .aside-home {
    display: block;
    margin-top: 38px;
    width: 100%;
  }
  .main-section .aside-home > h3 {
    text-align: center;
    padding: 10px 0px;
    background: #070EEB;
    color: white;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .main-section .news .latest-newz {
    margin-bottom: 25px;
    margin-left: 22px;
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    column-gap: 25px;
  }
  .main-section .news .latest-newz img {
    width: 100%;
    border-radius: 7px;
  }
  .main-section .news .latest-newz h2 {
    font-size: 0.9rem;
  }
  .main-section .news .latest-newz h3 {
    text-transform: uppercase;
    font-size: 0.7rem;
  }

  .forms-section {
    display: none;
  }

  .desktop-advert {
    margin-top: 80px;
    background: #000E5C;
    margin-left: 22px;
    box-sizing: border-box;
    padding: 30px 20px;
  }
  .desktop-advert .adverts-content {
    padding: 60px 0px;
    font-size: 5rem;
    color: #A4B2FF;
    text-align: center;
    background: #7A9FC1;
    font-weight: bolder;
    border-radius: 25px;
  }

  .the-search-and-more .the-adverts {
    display: none;
  }

  .liked-in-categories .post-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .liked-in-categories .post-card > div {
    border-radius: 5px;
    padding: 10px 5px 20px 5px;
    box-shadow: -2px 3px 1px 2px #f0efef;
  }
  .liked-in-categories .post-card > div .image-wrapper {
    width: 100%;
  }
  .liked-in-categories .post-card > div .image-wrapper .image {
    width: 100%;
    height: 250px;
    border-radius: 6px;
  }
  .liked-in-categories .conainer .story {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  #for-registry {
    margin-top: 5px;
    background: red;
    padding-bottom: 8px;
  }
  #for-registry #register {
    padding: 5px;
    background: rgba(255, 255, 255, 0.27);
  }

  .news-detailed {
    background: white;
    margin: 0 14vw;
    padding: 20px 2vw;
    border-radius: 6px;
  }
  .news-detailed .image-wrapper {
    box-shadow: 3px 3px 5px 4px rgba(128, 128, 128, 0.4);
    margin-bottom: 15px;
  }
  .news-detailed .image-wrapper .image {
    width: 100%;
  }

  .login-section {
    border: 1px solid black;
    height: fit-content;
    border-radius: 6px;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  footer .biz-links {
    padding-top: 15px;
  }
  footer .biz-links a {
    font-size: 0.7rem;
  }

  .desktop {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
