*{
    padding: 0;
    margin: 0;
}
.container{
    /* background-color: black; */
    width: 88vw;
    margin: 0px auto;
    margin-top: 20px;
}
.center-text{
    text-align: center;
}

/* mobile design styles */



/* header styles */

/* style for the top bar */

#top-bar>div:nth-child(2){
    font-size:3rem;
    font-weight: bold;
    color: #000E5C;
    background: #E4E4E4;
    text-align: center;
    padding:5px 0px 8px 0px;
    border-bottom: 11px solid rgba(0, 14, 92,0.26);
    
}
#toggle-menu{
    position: absolute;
    left:24px;
    top: 40px;
}

#topmost-header{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding-bottom: 17px;
}



#topmost-header a{
    text-decoration: none;
}

#breaking-news{
    /* background-color: #910A0A; */
    background:radial-gradient(#FF0303 70%,#910A0A);
    width: fit-content;
    padding:10px;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    
}
#news{
    display: flex;
}

#news-slide{
    width: 68.9%;
    height: 31px;
    background: grey;
}

#search-btn{
    border: 2px solid #707070;
    text-align: center;
    width: fit-content;
    padding: 7px 70px;
    margin: 40px auto 20px auto;
}

.story-category{
    text-transform: uppercase;
    margin-top: 15px;
}

.story-title{
    color:#303336;
    margin-bottom: 10px;
}

.article{
    padding:10px 15px;
}

.story-image{
    width:100%;
}

.button{
    background: #ECF1F7;
    color: #171A70;
    font-size: 17px;
    text-transform: uppercase;
    padding: 15px 10px;
    width: 80px;
    margin:0px auto 10px auto;
    border-radius: 50%;

}

.access-buttons{
    margin-bottom: 200px;
}

footer{
    height: 38px;
    background-color: #000E5C;
}

/* Mobile design styles ends here */

.hide{
    display: none;
}