.breaking-news {
   
    background: rgba(246, 244, 244,0.2);
    width: 80vw;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    img{
        width: 60px;
        height: 100%;
        border-radius: 10px;
    }
    
}

.marquee-element {
    height: 100%;
    display: flex;
    animation: scrolling 20s linear infinite;
}

.marquee-element:hover {
    animation-play-state: paused;
}

@keyframes scrolling {
    0% {
        transform: translateX(0vw)
    }

    100% {
        transform: translateX(-150vw)
    }
}

.marquee-element>a{
    
    width: 30vw;
    flex-shrink: 0;
    margin: 5px;
    /* background: grey; */
    padding: 10px;
    display: flex;
    // justify-content: center;
    align-items: center;
    div{
        margin-left: 5px;
        
    }
}


@media(max-width:657px){
    .breaking-news{
        .marquee-element>a{
    
            width: 80vw;
        }
    }
    .marquee-element{
        animation: scrolling 20s linear infinite;
    }
    @keyframes scrolling {
        0% {
            transform: translateX(0vw)
        }
    
        100% {
            transform: translateX(-400vw)
        }
    }
  
}