$primary-color-1:#0f55ec;
$primary-color-2:white;
$primary-color-3:#FFC151;
$main-padding-sides:11vw;

// for small screen laptops
@media only screen and (min-width:769px){
  
    .primary-nav{
        .desktop{
            display: initial;
        }
       
    }


    .social-media-section{
        padding: 10px $main-padding-sides;
        justify-content: center;
        background-color: $primary-color-3;
        
    }
    .main-social-media-links-container{
        
        .desktop{
            display: initial;
        }
        .fa{
            color:$primary-color-2;
            font-size: 1.6rem;
            border-right: none;
            padding: 5px;
            
        }
        li>a{
            padding: 10px;
            font-size: 1rem;
            text-transform: uppercase;
            color:$primary-color-2;
            font-weight: bolder;
            scroll-padding-bottom: 5px;
            span{
                display: inline-block;
                border-bottom: 2px solid $primary-color-3;
                padding-bottom: 5px;
            }
            
           
            
        }
        li>a{
            &:hover span{
                border-bottom: 2px solid $primary-color-2;
            }
        }
    }

    .primary-nav{
        
        background: $primary-color-2;
        padding:11px $main-padding-sides;
        
        .search-and-form{
            display: flex;
            ul{
                margin-left: 10px;
            }
            i,input{
                font-size: 1.7rem;
            }
            input{
                background: rgb(248, 246, 246);
                width: 130px;
            }
        }
        
        ul{
            display: flex;
            justify-content: space-between;
            // background: red;
            a{
                padding: 20px 15px;
                text-transform: uppercase;
                font-size: 1rem;
                color: $primary-color-3;
                font-weight: bold;
                transition: 0.6s;
                &:hover{
                    background: $primary-color-3;
                    background: rgba(255, 193, 81,0.6);
                    color: white;
                    
                }
            }
        }
    }

    //sub menu for categories style starts here 

    .sub-menu-control-desktop{
        position: relative;
    

    

    }
    .sub-menu-control-desktop:hover .menu-categories-desktop{
        display: block;
    }
    .menu-categories-desktop{
        display:none;
        position: absolute;
        top: 30px;
        left: 10px;
        ul{
            display: flex;
            flex-direction: column;
            background-color: $primary-color-2;
            
            a{
                margin-bottom: 5px;
                padding: 5px 10px;
                display: block;
                &:hover{
                    background: $primary-color-1;
                }
            }
        }
    }


    //sub menu for categories style ends here 

    .sliding-news{
        display: none;
    }

    .index{
        // background: rgb(43, 36, 36);
        padding: 10px $main-padding-sides;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        column-gap: 50px;
    }

    .mobile{
        display: none;
    }

    .mobile-only{
        display: none;
    }
    

}