$primary-color-1:#0f55ec;
$primary-color-2:white;
$primary-color-3:#ABA9BB;


footer{
    // margin: 40px;
    background: $primary-color-3;
    overflow: hidden;
    // transform: skewY(-9deg);

    .secondary-nav-and-credit{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background:$primary-color-3;
        a{
            color: $primary-color-2;
            color:#474555;
            font-weight: bolder;
            text-transform: uppercase;
        }
       
        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            // background: red;
            width: 60vw;
            box-sizing: border-box;
            text-align: center;
        }
        
    }
    .terms-conditions-and-copy-right{
        color:white;
    }
}