 $primary-color-1:#0f55ec;
 $primary-color-2:white;
 $primary-color-3:#FFC151;
*{
    margin: 0;
    padding: 0;
    font-family:'Lato', "Helvetica Neue", helvetica, arial, sans-serif; 

}
html{
    font-size: 10px;
    color:#636363;
    line-height: 1.7;
    letter-spacing: 1px;
    scroll-behavior: smooth;
    width:100vw;
    overflow: hidden;    
}
a{
    text-decoration: none;
}

.top{
    display: none;

    // transform: translate(92vw,82vh);
    // display: block;
    z-index: 100;
    // position: fixed;
    // padding: 10px;
    position: fixed;
    width: fit-content;
    bottom: 20px; 
    left: 30px;
    background: red;
   
    


}

.block{
    display: block;
}

ul{
    list-style-type: none;
}

.center-text{
    text-align: center;
}


.sliding-news{
    display: flex;
    overflow: hidden;
    .image-wrapper{
        max-height: 300px;
        img{
            width: 100vw;
        }
    }
   
    .story-title{
        position: relative;
        top: -60px;
        padding: 15px;
        background: rgba(0, 0, 0,0.5);
        color: white;
        text-align: center;
    }
}
