$primary-color-1:#0f55ec;
$primary-color-2:white;
$primary-color-3:#FFC151;

.social-media-section{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary-color-2;
    padding: 7px 15px;
    .login{
        width: fit-content;
        padding: 5px 15px;
        text-align: center;
        color: $primary-color-2;
        background: $primary-color-1;
        margin-left: 10px;
        border-radius: 3px;
        
    }
}


.main-social-media-links-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .fa{
        color:$primary-color-1;
        font-size: 1.3rem;
        // margin-right: 20px;
        border-right: 1px solid $primary-color-1;
        padding: 5px 15px;
        
    }

}


.top-banner{
    position:fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
    // background: red;
    // height: 100px;
}
.logo-and-caption{
    text-align: center;
    margin:120px 0px 40px 0px;
    color: #535252;
    h1{
        text-transform: uppercase;
        font-size: 4rem;
        padding: 7px 20px;
        line-height: 1.4;
        color: #FFC151;
    }
    .sub-caption{
        text-transform: uppercase;
        font-style: italic;
        font-size: 0.9rem;
    }
}

.primary-nav{
    // position:fixed;
    // width: 100vw;
    // top: 0;
    background:  #f6f6f6;
    background:  $primary-color-1;
    // margin: 10px 20px;
    font-size: 1.3rem;
    padding: 10px 15px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-radius: 6px;
    ul{
        display: none;
    }
    input{
        border: none;
        padding: 6px;
        width: 70px;
        border-radius: 6px;
        outline: none;
        background: $primary-color-2;
        // color: $primary-color-2;
    }
    .toggle-nav-main{
        padding: 5px;
        &:hover{
            box-shadow: -2px 2px 1px 3px rgba(255, 255, 255,0.5);
        }
     
        &>div{
            padding: 1.5px;
            background: $primary-color-2;
            margin-bottom: 3px;
            border-radius: 10px;
            width: 20px;
        }
        
    }

}

//primary-nav mobile
.primary-nav-mobile-container{
    margin-top: 87px;
    width:100vw;
    border: 1px solid rgb(212, 212, 212);
    padding: 10px 15px 10px 0;
    box-shadow: 0px 3px 2px rgb(156, 155, 155);
    .primary-nav-mobile{
        
        a{
            text-transform: uppercase;
            padding: 1px 15px;
            display: block;
            color: $primary-color-3;
            font-weight: bold;
        }
    }
}


//ends here 