$primary-color-1:#0f55ec;
$primary-color-2:white;
$primary-color-3:#FFC151;

.registeration{
   margin: 120px auto 20px auto;
   display: flex;
   justify-content: center;
   &>div{
       width: 90vw;
    //    background: blue;
   }
   label{
       display: none;
   }
   
   input:not([type=checkbox]){
       width: 100%;
       box-sizing: border-box;
       font-size: 1.6rem;
       padding: 6px;
       border: none;
       border-bottom: 1px solid grey;
       outline: none;
    //    box-shadow: 0px 2px 3px;
   }
  
   .form-group{
       font-size: 1.4rem;
       padding: 10px;
       width: 90%;
       margin: 10px auto;
       position: relative;
   }
   .error-message{
       position: absolute;
       font-size: 1rem;
       color: red;
       padding-left: 15px;
       visibility: hidden;
   }

   .button-control{
       margin-bottom: 15px;
       padding: 15px 30px;
       button{
           padding: 8px 20px;
           background: $primary-color-1;
           color: white;
           text-transform: uppercase;
           border: 1px solid $primary-color-1;
           border-radius: 2px;
           &:hover{
               cursor: pointer;
               background: #86acff;
           }
       }
   }
   .divider{
       border: 0.5px solid rgb(212, 211, 211);
       margin:0px 15px 15px 15px;

   }
   .create-acct-others{
       font-size: 1.4rem;
       p{
           margin: 7px 15px 2px 15px;
       }
   }
   .title{
       text-transform: uppercase;
       margin-bottom: 10px;
       font-size: 2.8rem;
   }
   

}