$primary-color-1:#0f55ec;
$primary-color-2:white;
$primary-color-3:#FFC151;
.user-dashboard .container{
    .fa-users,.fa-star{
        font-size: 4.2rem;
        color: $primary-color-1;
        width: 60px;
        border:1px solid blue;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }
    .fa-star{
        border:1px solid green;
        color: green;
    }
    

    background: #f1f2f7;

    &>div{
        height: 80px;
        background: white;
        box-shadow: 2px 2px 2px 3px rgb(231, 229, 229);
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding: 10px;
        box-sizing: border-box;
    }

}

.user-dashboard{
    padding-bottom: 500px;
}
.user-menu{
    text-transform: uppercase;
    &>li{
        

        a{
            color: white;
            display: inline-block;
            padding: 6px 0px;
            font-size: 1.3rem;
            padding: 5px;
            &:hover{
                background: black;
                background: rgb(39, 39, 39);
            }
        }
        .fa{
            padding-right: 7px;
            font-size: 1.5rem;
        }
    }
}
.user-dashboard-header{
    
    padding: 0px;
    background: $primary-color-1;
    background: black;
    .quick-access.fa{
        font-size: 1.6rem;
        margin-right:16px;
        &:hover{
            cursor: pointer;
            color: black;
        }
    }
    // .fa-caret-down{
    //     margin-right: 0px;
    // }
    .quick-access.fa-user{
        background: #f1f2f7;
        padding: 6px 7px;
        border-radius: 50px;
        margin-right: 2px;
    }
    .quick-access{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
    }
}
.identity{
    &:hover{
        cursor: pointer;
        color: $primary-color-1;
    }
}
.user-nav{
    background: $primary-color-1;
    padding: 10px;
    &>div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h2{
        color: whitesmoke;
        font-size: 2rem;
    }
}

.user-toggle{
    padding: 4px;
    cursor: pointer;
    &>div{
        width: 20px;
        padding: 1px;
        background: white;
        margin-top: 3px;
    }
}